<template>
  <section class="c-font-blog-sect">
    <div class="container">
      <h1 class="c-font-blog__title">
        Read our blog
      </h1>
      <div class="c-font-blog__items-wrap">
        <base-card-item v-for="post in blog_posts"
                        :key="post.id"
                        :cover_image="post.cover"
                        :description="post.subtitle"
                        :link_path="`/blog/${post.slug}`"
                        :title="post.title"/>
      </div>
    </div>
  </section>
</template>

<script>
  import BaseCardItem from "~/components/base/base-card-item";
  export default {
    name: "front-blog-posts",
    components: {BaseCardItem},
    props: {
      blog_posts: {
        type: Array
      },
    },
  }
</script>

<style lang="scss">
.c-font-blog {
  &-sect {
    padding-top: rem(181);
  }

  &__title {
    @extend %h2-title;
    color: $black;
    text-align: center;
    margin-bottom: rem(65);
  }

  &__items-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(30);

    @include for-width(-desktop-med) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include for-width(-laptop) {
      justify-content: space-around;
    }
  }
}
</style>
