<template>
  <div class="c-what-is-sect">
    <div class="container">
      <div class="c-what-is">
        <figure class="c-what-is__wrap c-what-is__wrap_left">
          <img src="/img/front/front-what-is-ill.svg" alt="what is illustration">
        </figure>
        <div class="c-what-is__wrap c-what-is__wrap_right">
          <p class="c-what-is__small-title">
            Tworzymy kompletną i rzetelną bazę składników kosmetycznych
          </p>
          <h2 class="c-what-is__title">
            Czym jest Skincoda?
          </h2>
          <p class="c-what-is__text">
            Słuchajcie, sprawa jest prosta. Tworzymy kompletną, rzetelną bazę składników kosmetycznych, żeby każda i każdy z nas mógł jednym kliknięciem dowiedzieć się co w danym specyfiku siedzi. Dobry kosmetyk to nie ładne opakowanie. Ani modna frazy na froncie pudełka. Nas interesuje mały druczek…
          </p>
          <base-button to="/" is_red>
            <span>Poczytaj o nas!</span>
          </base-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseButton from "~/components/base/base-button";
  export default {
    name: "front-what-is",
    components: {BaseButton},
  }
</script>

<style lang="scss">
.c-what-is {
  display: flex;
  justify-content: space-between;

  @include for-width(-laptop) {
    flex-direction: column;
  }

  &-sect {
    padding-top: rem(153);
  }

  &__wrap {
    &_right {
      max-width: rem(546);
      padding-top: rem(46);

      @include for-width(-laptop) {
        margin: 0 auto;

        a {
          margin: 0 auto;
        }
      }
    }

    &_left {
      @include for-width(-laptop) {
        margin: 0 auto rem(20);
      }

      @include for-width(-tablet) {
        width: 100%;
      }
    }
  }

  &__small-title,
  &__title {
    margin-bottom: rem(24);

    @include for-width(-laptop) {
      text-align: center;
    }
  }

  &__small-title {
    @extend %text-bold;
    color: $green;

    max-width: rem(300);

    @include for-width(-laptop) {
      margin: 0 auto rem(24);
    }
  }

  &__title {
    @extend %h2-title;
    color: $black;
  }

  &__text {
    @extend %text-regular;
    color: $gray;
    margin-bottom: rem(50);

    @include for-width(-laptop) {
      text-align: center;
    }
  }
}
</style>
