<template>
  <header class="c-header-sect">
    <div class="container">
      <div class="c-header">
        <div class="c-header__wrap c-header__wrap_left">
          <h1 class="c-header__title">
            Nie narażaj się na przykre kosmetyczne niespodzianki
          </h1>
          <p class="c-header__text">
            Miej pewność, że dajesz skórze to co jest dla niej dobre!
          </p>
          <div class="c-header__btn">
            <base-button is_red to="/analyze">
              <span>Analizuj składniki</span>
            </base-button>
            <base-arrow-link to="/ingredients-base">
              <span>Baza Składników</span>
            </base-arrow-link>
          </div>
        </div>
        <figure class="c-header__wrap c-header__wrap_right">
          <img src="/img/front/front-header-ill.svg" alt="Header illustration"/>
        </figure>
      </div>
    </div>
  </header>
</template>

<script>
  import BaseButton from "~/components/base/base-button";
  import BaseArrowLink from "~/components/base/base-arrow-link";
  export default {
    name: "front-header",
    components: {BaseArrowLink, BaseButton}
  }
</script>

<style lang="scss">
.c-header {
  display: flex;
  justify-content: space-between;


  &-sect {
    padding-top: rem(74);
    padding-bottom: rem(85);

    background-color: #FFF7F6;

    @include for-width(-laptop) {
      padding-top: 0;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__wrap {

    &_left {
      padding-top: rem(87);
    }

    &_right {
      margin-right: rem(-17);

      img {
        max-width: inherit;
      }

      @include for-width(-desktop-med) {
        max-width: rem(500);

        margin-right: 0;
      }

      @include for-width(-laptop) {
        display: none;
      }
    }
  }

  &__title {
    @extend %h1-title;
    color: $black;

    @include for-width(-laptop) {
      text-align: center;
    }
  }

  &__text {
    @extend %text-regular;
    color: $gray;
    margin: rem(24) 0 rem(50);

    @include for-width(-laptop) {
      text-align: center;
    }
  }

  &__btn {
    display: flex;
    justify-content: space-between;

    padding-right: rem(71);

    @include for-width(-laptop) {
      flex-direction: column;
      align-items: center;

      padding: 0;


      div {
        margin-bottom: rem(20);
      }
    }
  }

}
</style>
