<template>
  <div class="c-we-love-sect">
    <div class="container">
      <div class="c-we-love">
        <div class="c-we-love__wrap c-we-love__wrap_top">
          <figure class="c-we-love__ill">
            <img src="/img/front/front-heart-ill.svg" alt="heart illustration"/>
          </figure>
          <h2 class="c-we-love__title">
            Nasze ulubione składniki
          </h2>
          <p class="c-we-love__text">
            Które po prostu musisz znać!
          </p>
        </div>
        <div class="c-we-love__wrap c-we-love__wrap_bot">
          <template v-for="(item, index) in ingredients">
            <base-ingredient-item :to="'/ingredient/' + item.id"
                                  :key="index"
                                  :is_even="!!(index && (index%2))"
                                  :title="item.name"/>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseIngredientItem from "~/components/base/base-ingredient-item";
  export default {
    name: "front-we-love",
    components: {BaseIngredientItem},
    props: {
      ingredients: Array
    },
    data() {
      return {
        love_items: [
          'Hyaluronic  acid',
          'Hyaluronic  acid',
          'Hyaluronic  acid',
          'Hyaluronic  acid',
          'Hyaluronic  acid',
          'Hyaluronic  acid',
          'Hyaluronic  acid',
          'Hyaluronic  acid',
        ]
      }
    },
  }
</script>

<style lang="scss">
.c-we-love {

  &-sect {
    padding-top: rem(177);
  }

  &__wrap {
    &_top {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-bottom: rem(65);
    }

    &_bot {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: rem(30);

      @include for-width(-desktop-med) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @include for-width(-laptop) {
        justify-content: space-around;
      }
    }
  }

  &__ill {
    margin-bottom: rem(5);
  }

  &__title {
    @extend %h2-title;
    color: $black;
    margin-bottom: rem(8);

    @include for-width(-tablet) {
      text-align: center;
    }
  }

  &__text {
    @extend %text-regular;
    color: $gray;
  }


}
</style>
