<template>
  <div class="c-over-container-sect"
       @click.self="close"
       :class="{ show: overlay_field }">
    <div class="container" @click.self="close">
      <div class="c-over-container">
        <component :is="overlay_field"></component>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapFields } from 'vuex-map-fields'
  import OverlayCommentForm from "~/components/overlay/overlay-comment-form";
  import OverlayThanks from "~/components/overlay/overlay-thanks";
  export default {
    name: "overlay-container",
    components: {OverlayThanks, OverlayCommentForm},
    computed: {
      ...mapFields('overlay', [
        'overlay_field'
      ])
    },
    methods: {
      close() {
        this.$store.dispatch('overlay/set_overlay_field', null)
      }
    },
  }
</script>

<style lang="scss">
.c-over-container {
  width: rem(623);
  max-width: rem(623);
  min-height: rem(621);

  border-radius: rem(30);

  padding: rem(27) rem(40) rem(34);

  background-color: $white;

  margin: rem(61) auto 0;

  &-sect {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(33, 31, 50, 0.2);

    z-index: 10;

    padding-top: rem(63);
    padding-bottom: rem(61);

    overflow-y: scroll;

    opacity: 0;
    transition: all .3s ease;
    pointer-events: none;

    &.show {
      opacity: 1;
      pointer-events: all;
    }
  }
}
</style>
