<template>
  <form @submit.prevent="send_data" class="c-over-form">
    <button class="c-over-form__close" @click="$store.dispatch('overlay/set_overlay_field', null)">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="4" y="6.12134" width="3" height="32" rx="1.5" transform="rotate(-45 4 6.12134)" fill="#263251"/>
        <rect x="26.627" y="4" width="3" height="32" rx="1.5" transform="rotate(45 26.627 4)" fill="#263251"/>
      </svg>
    </button>
    <h2 class="c-over-form__title">Zostaw komentarz na temat tego składnika!</h2>
    <p class="c-over-form__subtitle">Opublikujemy go po weryfikacji przez nasz zespół i poinformujemy Cię o tym mailowo :)</p>
    <div class="c-over-form__wrap">
      <div class="c-over-form__photo" @click="add_image">
        <input type="file" class="c-over-form__input-file" ref="file_input" @change="change_file_input($event)">
        <div class="c-over-form__file-bg">
          <template v-if="uploaded_image">
            <img :src="uploaded_image" alt="Uploaded image">
          </template>
          <template v-else>
            <simple-svg src="/img/icons/upload-photo-icon.svg"/>
          </template>
        </div>
      </div>
      <div class="c-over-form__inputs-wrap">
        <div class="c-over-form__inp-wrap">
          <label class="c-over-form__label">Imię i nazwisko*</label>
          <base-input class="c-over-form__input" placeholder="Np. Katarzyna Nowak" v-model="form.author"/>
        </div>
        <div class="c-over-form__inp-wrap">
          <label class="c-over-form__label">Tytuł zawodowy i doświadczenie*</label>
          <base-input class="c-over-form__input" placeholder="Np. Kosmetolog od 2012" v-model="form.subtitle"/>
        </div>
      </div>
    </div>
    <div class="c-over-form__inp-wrap">
      <label class="c-over-form__label">Twój komentarz*</label>
      <base-textarea class="c-over-form__input c-over-form__input_textarea" v-model="form.comment" placeholder="Co uważasz o tym składniku? Komu może pomóc?"/>
    </div>
    <div class="c-over-form__inp-wrap">
      <label class="c-over-form__label">Twój email* (nie będzie widoczny publicznie)</label>
      <base-input class="c-over-form__input c-over-form__input_big" v-model="form.email" placeholder="Np. imienazwisko@poczta.pl"/>
    </div>
    <div class="c-over-form__rating">
      <p class="c-over-form__label">Twoja ocena*</p>
      <base-rating v-model="form.rating"/>
    </div>
    <base-button class="c-over-form__btn" is_red>
      <span>Zostaw komentarz</span>
    </base-button>
  </form>
</template>

<script>
  import BaseInput from "~/components/base/base-input";
  import BaseTextarea from "~/components/base/base-textarea";
  import BaseRating from "~/components/base/base-rating";
  import BaseButton from "~/components/base/base-button";
  export default {
    name: "overlay-comment-form",
    components: {BaseButton, BaseRating, BaseTextarea, BaseInput},
    data() {
      return {
        expert_photo: null,
        form: {
          author: null,
          subtitle: null,
          comment: null,
          email: null,
          rating: null,
          approved: false,
          ingredient: null,
        },
        uploaded_image: null,
        is_valid: false,
      }
    },
    methods: {
      change_file_input(e) {
        let file = e.target.files,
          f = file[0],
          self = this;

        this.expert_photo = f;
        if (!f.type.match('image.*')) {
          alert('Images only')
          return
        }
        var reader = new FileReader()
        reader.onload = (function() {
          return function(e) {
            return (self.uploaded_image = e.target.result)
          }
        })(f)
        reader.readAsDataURL(f)
      },
      add_image() {
        this.$refs.file_input.click()
      },
      send_data() {
        if(!this.form.author || this.form.author.length === 0) {
          alert('Please write your name!')
          return
        }
        if(!this.form.subtitle || this.form.subtitle.length === 0) {
          alert('Please write your Profession!')
          return
        }
        if(!this.form.comment || this.form.comment.length === 0) {
          alert('Please write your Comment!')
          return
        }
        if(!this.form.email || !(/\S+@\S+\.\S+/.test(this.form.email))) {
          alert('Please write correct email!')
          return
        }
        if(!this.form.rating) {
          alert('Please add rating!')
          return
        }

        this.form.ingredient = this.$store.getters['ingredients/getField']('ingredient').id;

        let formData = new FormData();

        formData.append(`files.expert_photo`, this.expert_photo, this.expert_photo.name);
        formData.append('data', JSON.stringify(this.form));

        this.$store.dispatch('ingredients/add_comment', formData);
      }
    },
  }
</script>

<style lang="scss">
.c-over-form {
  position: relative;

  width: 100%;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__title {
    @extend %text-title-30;
    color: $black;

    max-width: rem(446);

    margin-bottom: rem(15);
  }

  &__subtitle {
    @extend %text-medium-14;
    color: $gray;

    max-width: rem(415);

    margin-bottom: rem(23);
  }

  &__wrap {
    display: flex;
    align-items: center;

    margin-bottom: rem(8);

    width: 100%;
  }

  &__photo {
    margin-right: rem(45);
  }

  &__input-file {
    display: none;
  }

  &__file-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: rem(162);
    height: rem(162);

    background-color: $gray_lighter;

    border-radius: 100%;

    overflow: hidden;

    img {
      width: inherit;
      height: inherit;
    }
  }

  &__label {
    display: block;

    @extend %menu-text;
    color: $black;

    margin-bottom: rem(10);
  }

  &__input {
    width: 100%;
    max-width: 100%;
  }

  &__inp-wrap {
    margin-bottom: rem(17);

    &:last-child {
      margin-bottom: rem(28);
    }
  }

  &__inputs-wrap {
    width: 100%;
  }

  &__rating {
    display: flex;
    align-items: center;
    .c-over-form__label {
      margin-bottom: 0;
      margin-right: rem(7);
    }
  }

  &__btn {
    width: 100%;

    margin-top: rem(20);

    .c-button {
      width: 100%;
    }
  }
}
</style>
