<template>
  <div class="c-overlay-thanks">
    <h2 class="c-overlay-thanks__title">Dziekujemy!</h2>
    <p class="c-overlay-thanks__text">
      Twój komentarz na pewno wzbogaci naszą bazę wiedzy. Napiszemy do Ciebie jak zostanie on opublikowany.
    </p>
  </div>
</template>

<script>
  export default {
    name: "overlay-thanks"
  }
</script>

<style lang="scss">
.c-overlay-thanks {
  width: 100%;
  height: rem(500);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    @extend %h2-title;
    color: $black;

    margin-bottom: rem(12);

    text-align: center;
  }

  &__text {
    @extend %text-title-30;
    color: $black;

    text-align: center;
  }
}
</style>
