.c-arrow-link {
  display: flex;
  align-items: center;

  @extend %btn-text-18;
  color: $black;

  &.orange {
    color: $orange;
    .c-arrow-link {
      &__arrow {
        svg {
          path {
            fill: $orange;
          }
        }
      }
    }
  }

  &__arrow {
    display: inline-block;
    margin-left: rem(12);
    transition: all .3s ease;
  }

  &:hover {
    .c-arrow-link {
      &__arrow {
        margin-left: rem(18);
      }
    }
  }
}
