%base-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: rem(252);
  height: rem(56);
  border-radius: rem(28);

  @extend %btn-text-18;
  color: $white;
  pointer-events: all;

  span {
    pointer-events: none;
  }
  &:disabled {
    pointer-events: none;
  }
}

._red-btn {
  @extend %base-btn;
  background-color: $orange;
  &:hover {
    background-color: #F56354;
  }
}

._green-btn {
  @extend %base-btn;
  background-color: $green;
  &:hover {
    background-color: #187964;
  }
}
