body {
    font-size: 16px;

  &.overlay {
    overflow: hidden;
  }
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}

.-black-icon {
  svg {
    path {
      fill: $black;
    }
    circle, line {
      stroke: $black;
    }
  }
}

.-hr-line {
  width: 100%;
  height: rem(2);

  display: block;

  border-top: 1px solid $gray_light;

  margin: rem(30) 0;
}
