%base-icon {
  width: rem(52);
  height: rem(52);

  img, svg {
    width: inherit;
    height: inherit;
  }
}
.c-base-icon {
  @extend %base-icon;
  &.small {
    width: rem(32);
    height: rem(32);
  }
}
.c-skin-icon {
  @extend %base-icon;
  display: flex;
  justify-content: center;
  align-items: center;
  border: rem(3) solid transparent;
  border-radius: 50%;
  &.small {
    width: rem(32);
    height: rem(32);

    svg {
      max-width: rem(11);
    }
  }
  &.small {
    &.color-bad {
      &:after {
        height: rem(32);
      }
    }
  }
  &.color {
    &-good {
      border-color: $estimate_good;
      svg {
        path {
          fill: $estimate_good;
        }
      }
    }
    &-bad {
      position: relative;
      border-color: $estimate_bad;
      &:after {
        position: absolute;
        content: '';
        top: rem(-2);
        left: 49%;
        width: rem(2);
        height: rem(52);
        transform: rotate(-129.37deg);
        background-color: $estimate_bad;
      }
      svg {
        path {
          fill: $estimate_bad;
        }
      }
    }
    &-neutral {
      border-color: #BDBDBD;
      svg {
        path {
          fill: #BDBDBD;
        }
      }
    }
  }

}
