// ================ Courgette-Regular ==============
@include font_face(Courgette-Regular, Courgette-Regular);

%courgette {
  font-family: 'Courgette-Regular', sans-serif;
}
// ################### Courgette-Regular ###################

// ================ Gilroy-Bold ================
@include font_face(Gilroy-Bold, Courgette);

%bold {
  font-family: 'Gilroy-Bold', sans-serif;
}
// ################ Gilroy-Bold ################

// ================ Gilroy-Medium ==================
@include font_face(Gilroy-Medium, Gilroy-Medium);

%medium {
  font-family: 'Gilroy-Medium', sans-serif;
}
// ################### Gilroy-Medium ################

// ================ Gilroy-Regular ==================
@include font_face(Gilroy-Regular, Gilroy-Regular);

%regular {
  font-family: 'Gilroy-Regular', sans-serif;
}
// ################### Gilroy-Regular ################

// ================ Gilroy-SemiBold ==================
@include font_face(Gilroy-SemiBold, Gilroy-SemiBold);

%semibold {
  font-family: 'Gilroy-SemiBold', sans-serif;
}
// ################### Gilroy-SemiBold ################

// ====================== Font styles =======================
%ttu {
  text-transform: uppercase;
}

%h1-title {
  @extend %courgette;
  @include font_sizes(56, 67);

  @include for-width(-tablet) {
    @include font_sizes(46, 55);
  }
}

%h2-title {
  @extend %courgette;
  @include font_sizes(46, 55);

  @include for-width(-tablet) {
    @include font_sizes(36, 43);
  }
}

%h3-title {
  @extend %courgette;
  @include font_sizes(36, 43);

  @include for-width(-tablet) {
    @include font_sizes(30, 40);
  }
}

%text-title-30 {
  @extend %courgette;
  @include font_sizes(30, 40);
}

%text-title-24 {
  @extend %courgette;
  @include font_sizes(24, 31)
}

%text-bold {
  @extend %bold;
  @include font_sizes(18, 25);
}

%text-bold-14 {
  @extend %bold;
  @include font_sizes(14, 17);
  letter-spacing: 0.02em;
}

%text-medium {
  @extend %medium;
  @include font_sizes(18, 27);
}

%text-medium-14 {
  @extend %medium;
  @include font_sizes(14, 16);
  letter-spacing: 0.02em;
}

%text-regular {
  @extend %regular;
  @include font_sizes(18, 29);
}

%text-regular-16 {
  @extend %regular;
  @include font_sizes(16, 24);
}

%btn-text-18 {
  @extend %bold;
  @include font_sizes(18, 29);
}

%btn-text-16 {
  @extend %bold;
  @include font_sizes(16, 19);
  letter-spacing: 0.02em;
}

%menu-text {
  @extend %semibold;
  @include font_sizes(16, 19);
  letter-spacing: 0.02em;

  @include for-width(-tablet) {
    @include font_sizes(12, 16);
  }
}

%semi-small-text {
  @extend %semibold;
  @include font_sizes(12, 14);
}


