.container {
  width: 100%;
  margin: 0 auto;
  @include for-width(-desktop-med) {
    max-width: rem(1100);
  }
  @include for-width(-laptop) {
    max-width: rem(750);
  }
  @include for-width(-tablet) {
    //max-width: rem(320);
    padding: 0 rem(20);
  }
  @include for-width(+desktop-med) {
    max-width: rem(1196);
  }
  &.-blog {
    max-width: rem(854);
    padding: 0 rem(15);
  }
}
