<template>
  <main>
    <ingredients-header v-model="search_query"/>
    <ingredients-categories v-if="categories.length > 0 && search_results.length === 0"
                            v-model="choice_category"
                            :categories="categories"/>
    <ingredients-letters v-if="ingredients.length > 0 && search_results.length === 0"
                         v-model="choice_letter"
                         @input="get_matches_name_by_letter"
                         :letters_array="letters"/>
    <ingredients-positions v-if="ingredients.length > 0 && search_results.length === 0"
                           :is_loading="is_loading"
                           :ingredients="filtered_ingredients"/>
    <ingredients-search-result v-if="search_results.length > 0"
                               :query="search_query"
                               :search_results="search_results"/>
  </main>
</template>

<script>
  import IngredientsHeader from "~/components/ingredients/ingredients-header";
  import IngredientsCategories from "~/components/ingredients/ingredients-categories";
  import IngredientsPositions from "~/components/ingredients/ingredients-positions";

  import { mapFields } from 'vuex-map-fields';
  import IngredientsLetters from "~/components/ingredients/ingredients-letters";
  import IngredientsSearchResult from "~/components/ingredients/ingredients-search-result";
  import search_ingredients from "~/mixins/search_ingredients";
  export default {
    name: "index",
    components: {
      IngredientsSearchResult,
      IngredientsLetters, IngredientsPositions, IngredientsCategories, IngredientsHeader},
    layout: 'empty',
    mixins: [search_ingredients],
    async middleware({ store }) {
      await store.dispatch('ingredients/first_load');
      await store.dispatch('ingredients/get_footer_links');
    },
    data() {
      return {
        choice_letter: null,
        choice_category: null,
        is_loading: false
      }
    },
    methods: {
      get_first_letter(string) {
        return string.replace(/[^A-Za-z]/g, '')[0].toUpperCase()
      },
      async get_matches_name_by_letter() {
        this.is_loading = true;
        if(this.choice_letter)  {
          await this.$store.dispatch('ingredients/get_ingredients_by_letter', this.choice_letter)
          this.is_loading = false;
          return;
        }
        await this.$store.dispatch('ingredients/get_ingredients');
        this.is_loading = false;
      }
    },
    computed: {
      ...mapFields('ingredients', [
        'ingredients',
        'categories'
      ]),
      letters() {
        let res = []
        for(let item of this.filtered_ingredients) {
          let letter = this.get_first_letter(item.name);
          if(!res.includes(letter)) {
            res.push(letter)
          }
        }
        return res.sort()
      },
      filtered_ingredients() {
        if(!!this.choice_letter && !!this.choice_category) {
          return this.ingredients.filter(el => {
            return this.get_first_letter(el.name) === this.choice_letter
          }).filter(el => {
            return el.categories.map(cat => cat.id).includes(this.choice_category)
          })
        }

        if(!!this.choice_letter) return this.ingredients.filter(el => this.get_first_letter(el.name) === this.choice_letter);

        return this.ingredients
      },
    },
  }
</script>

<style lang="scss">
  .sort-products-enter-active, .sort-products-leave-active {
    transition: all .3s;
  }
  .sort-products-enter, .sort-products-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(10px);
  }
</style>
