<template>
  <section class="c-ingredients-cat-res-sect">
    <div class="container">
      <div class="c-ingredients-cat-res">
        <h2 class="c-ingredients-cat-res__title">
          Kategoria - <span>{{ category_name }}</span>
        </h2>
        <hr class="c-ingredients-cat-res__line -hr-line">
        <div class="c-ingredients-cat-res__wrap">
          <template v-for="cat in categories">
            <base-category-btn class="c-ingredients-cat-res__item" v-if="cat.id !== category_id" :to="cat.id">
              <span>{{ cat.name }}</span>
            </base-category-btn>
          </template>
        </div>
        <hr class="c-ingredients-cat-res__line -hr-line">
        <ul class="c-ingredients-cat-res__links">
          <li v-for="item in ingredients" :key="item.id" class="c-ingredients-cat-res__link-itm">
            <base-item-link :to="`/ingredient/${item.id}`">
              <span> {{ item.name }} </span>
            </base-item-link>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
  import BaseItemLink from "~/components/base/base-item-link";
  import BaseCategoryBtn from "~/components/base/base-category-btn";

  export default {
    name: "ingredients-category-result",
    components: {BaseCategoryBtn, BaseItemLink},
    props: {
      ingredients: {
        type: Array,
        require: true
      },
      categories: {
        type: Array,
        require: true
      },
      category_id: {
        type: Number,
        require: true
      },
    },
    computed: {
      category_name() {
        return this.categories.filter(({ id }) => this.category_id === id)[0].name;
      }
    },
  }
</script>

<style lang="scss">
  .c-ingredients-cat-res {

    &-sect {
      padding-top: rem(140);
    }

    &__title {
      @extend %h3-title;
      color: $black;

      span {
        color: $orange;
      }
    }

    &__wrap {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      margin-right: rem(20);
      margin-bottom: rem(20);
    }

    &__links {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: rem(12);

      @include for-width(-laptop) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include for-width(-tablet) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
</style>
