<template>
  <section class="c-ingredients-pos-sect">
    <div class="container">
      <div class="c-ingredients-pos">
        <hr class="c-ingredients-pos__line -hr-line">
        <template v-if="is_loading">
          <div class="c-ingredients-pos__loading">
            <main-loader-local/>
          </div>
        </template>
        <template v-else>
          <transition-group tag="ul" name="sort-products" class="c-ingredients-pos__links">
            <li v-for="item in ingredients" :key="item.id" class="c-ingredients-pos__link-itm">
              <base-item-link :to="`/ingredient/${item.slug}`">
                <span> {{ item.name }} </span>
              </base-item-link>
            </li>
          </transition-group>
        </template>
      </div>
    </div>
  </section>
</template>

<script>
  import BaseLetterBtn from "~/components/base/base-letter-btn";
  import BaseItemLink from "~/components/base/base-item-link";
  import MainLoaderLocal from "~/components/main/main-loader-local";
  export default {
    name: "ingredients-positions",
    components: {MainLoaderLocal, BaseItemLink, BaseLetterBtn},
    props: {
      ingredients: {
        type: Array,
        require: true
      },
      is_loading: {
        type: Boolean,
        require: true
      },
    },
  }
</script>

<style lang="scss">
.c-ingredients-pos {

  &-sect {
    padding-bottom: rem(130);
  }

  &__link-itm {
    width: 100%;
    a {
      word-wrap: inherit;
    }
  }

  &__links {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: rem(12);
    overflow: hidden;

    @include for-width(-laptop) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include for-width(-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__link-itm {

  }

  &__loading {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
</style>
