<template>
  <div class="c-ingredient-products-sect">
    <h2 class="c-ingredient-products__title">
      Produkty z tym składnikiem, które kochamy
    </h2>
    <div class="c-ingredient-products__list">
      <base-card-item v-for="prod in products"
                      :key="prod.id"
                      :title="prod.title"
                      :description="prod.subtitle"
                      :cover_image="prod.image"
                      :price="prod.price"
                      :link_path="prod.url"/>
    </div>
  </div>
</template>

<script>
  import BaseCardItem from "~/components/base/base-card-item";
  export default {
    name: "ingredient-products",
    components: {BaseCardItem},
    props: {
      products: {
        type: Array,
        require: true
      },
    },
  }
</script>

<style lang="scss">
.c-ingredient-products {


  &-sect {
    padding-top: rem(138 - 20);
  }

  &__title {
    @extend %h2-title;
    color: $black;

    text-align: center;

    margin-bottom: rem(65);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(30);
  }
}
</style>
