<template>
  <section class="c-ingredients-cat-sect">
    <div class="container">
      <div class="c-ingredients-cat">
        <h2 class="c-ingredients-cat__title">
          Kategorie
        </h2>
        <hr class="c-ingredients-cat__line -hr-line">
        <div class="c-ingredients-cat__wrap">
          <template v-for="cat in categories">
            <base-category-btn class="c-ingredients-cat__item" :to="cat.id">
              <span>{{ cat.name }}</span>
            </base-category-btn>
          </template>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import BaseCategoryBtn from "~/components/base/base-category-btn";
  export default {
    name: "ingredients-categories",
    components: {BaseCategoryBtn},
    props: {
      categories: {
        type: Array,
        require: true
      },
      value: {
        type: [String, Number]
      }
    },
    methods: {
      emit_choice(cat_id) {
        if(this.value === cat_id) return this.$emit('input', null)
        this.$emit('input', cat_id)
      }
    },
  }
</script>

<style lang="scss">
.c-ingredients-cat {

  &-sect {
    padding-top: rem(140);
    padding-bottom: rem(90 - 20);
  }

  &__title {
    @extend %h3-title;
    color: $black;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;

  }

  &__item {
    margin-right: rem(20);
    margin-bottom: rem(20);
  }
}
</style>
