<template>
  <section class="c-ingredients-letters-sect">
    <div class="container">
      <ul class="c-ingredients-letters">
        <li class="c-ingredients-letters__item"
            :key="letter"
            v-for="letter in letters_array">
          <base-letter-btn :name="letter"
                           :is_active="letter === value"
                           @click="emit_choice"
                           class="c-ingredients-letters__item">
            <span>{{ letter }}</span>
          </base-letter-btn>
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
  import BaseLetterBtn from "~/components/base/base-letter-btn";
  export default {
    name: "ingredients-letters",
    components: {BaseLetterBtn},
    props: {
      letters_array: {
        type: Array,
        required: true,
      },
      value: {
        type: String,
      }
    },
    methods: {
      emit_choice(letter_name) {
        if(letter_name === this.value) return this.$emit('input', null)
        this.$emit("input", letter_name)
      }
    },
  }
</script>

<style lang="scss">
.c-ingredients-letters {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: rem(20);

  @include for-width(-laptop) {
    display: flex;
    flex-wrap: wrap;
    grid-gap: rem(10);
  }
  &-sect {

  }
}
</style>
