<template>
  <header class="c-ingredients-head-sect">
    <div class="container">
      <div class="c-ingredients-head">
        <h1 class="c-ingredients-head__title">
          Baza składników
        </h1>
        <p class="c-ingredients-head__text">
          W naszej bazie jest 1633 składników kosmetycznych!
          Jeśli nie znajdziesz tego, czego szukasz, <a href="mailto:kontakt@skincoda.pl">zgłoś brakujący składnik</a>.
        </p>
        <div class="c-ingredients-head__wrap">
          <base-input @blur="emit_query"
                      @enter-key="emit_query"
                      placeholder="Szukaj składnika"
                      class="c-ingredients-head__input -full-width"
                      icon_class="c-ingredients-head__svg" has_icon>
            <simple-svg src="/img/icons/search-btn-icon.svg"/>
          </base-input>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  import BaseInput from "~/components/base/base-input";

  export default {
    name: "ingredients-header",
    components: {BaseInput},
    methods: {
      emit_query(query) {
        this.$emit("input", query);
      }
    },
  }
</script>

<style lang="scss">
  .c-ingredients-head {
    max-width: rem(517);

    margin: 0 auto;

    &-sect {
      display: flex;
      align-items: center;

      height: rem(389);

      @extend %bg-reset;
      background-image: url('/img/analyze/analyze-header-bg.svg');
      background-size: cover;
      background-position: center;
    }

    &__title, &__text {
      text-align: center;
    }

    &__title {
      @extend %h1-title;
      color: $white;

      margin-bottom: rem(19);
    }

    &__text {
      @extend %text-medium-14;
      color: $white;

      margin-bottom: rem(32);

      a {
        color: $white;
        text-decoration: underline;
      }
    }

    &__svg {
      line, circle {
        stroke: $black;
      }
    }

    &__input {
      width: 100%;
    }
  }
</style>
