<template>
  <section class="c-ingredients-search-res-sect">
    <div class="container">
      <div class="c-ingredients-search-res">
        <h2 class="c-ingredients-search-res__title">
          Składniki
        </h2>
        <hr class="c-ingredients-search-res__line">
        <transition-group tag="ul" name="sort-products" class="c-ingredients-search-res__links">
          <li v-for="item in search_results" :key="item.id" class="c-ingredients-search-res__link-itm">
            <base-item-link :to="`/ingredient/${item.slug}`">
              <span> {{ item.name }} </span>
            </base-item-link>
          </li>
        </transition-group>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "ingredients-search-result",
    props: {
      search_results: {
        type: Array,
        require: true
      },
      query: String,
    },
  }
</script>

<style lang="scss">
.c-ingredients-search-res {

  &-sect {
    padding-top: rem(90);
  }

  &__title {
    @extend %h3-title;
    color: $black;
  }

  &__line {
    width: 100%;
    height: rem(2);

    margin: rem(30) 0;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: rem(12);

    @include for-width(-laptop) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include for-width(-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__link-itm {
    @extend %text-regular-16;
    color: $gray;

    cursor: pointer;

    transition: all .5s ease;

    &:hover {
      color: $orange;
    }
  }
}
</style>
