//---------------------------------------------fonts
$font_path: "~static/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '~assets/img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$black: #263251;
$white: #fff;

$orange: #FF7466;
$orange_light: #FFECEA;

$green: #268A74;
$green_light: #E4F5F2;

$gray: #62697D;
$gray_light: #DFDFE7;
$gray_lighter: #F8F8F8;

// Estimates
$estimate_good: #51C26A;
$estimate_neutral: #FEDD69;
$estimate_bad: #FA7A68;


$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
