<template>
  <header class="c-analyze-head-sect">
    <div class="container">
      <div class="c-analyze-head">
        <h1 class="c-analyze-head__title">
          Przeanalizuj skład ze Skincodą
        </h1>
        <p class="c-analyze-head__text">
          {{ text }}
        </p>
      </div>
    </div>
  </header>
</template>

<script>
  export default {
    name: "analyze-header",
    data() {
      return {
        text: 'Podaj nazwę kosmetyku oraz jego skład ze strony producenta.  Składniki powinny być wypisane po przecinku lub jeden pod drugim.'
      }
    },
  }
</script>

<style lang="scss">
.c-analyze-head {
  max-width: rem(558);

  margin: rem(-75) auto 0;

  &-sect {
    display: flex;
    align-items: center;

    height: rem(542);

    @extend %bg-reset;
    background-image: url('/img/analyze/analyze-header-bg.svg');
    background-size: contain;
    background-position: center top;

    @include for-width(-laptop) {
      background-size: cover;
    }
  }

  &__text, &__title {
    text-align: center;
  }

  &__title {
    @extend %h1-title;
    color: $white;

    margin-bottom: rem(24);
  }

  &__text {
    @extend %text-regular;
    color: $white;
  }
}
</style>
