<template>
  <div class="c-analyze-icon">
    <base-skin-icon class="c-analyze-icon__skin"
                    :icon_name="icon_name"
                    :quality="icon_value"/>
    <div class="c-analyze-icon__wrap">
      <h3 class="c-analyze-icon__title">
        {{ title }}
      </h3>
      <div class="c-analyze-icon__text">
        {{ good_quality }} dobrych składników
      </div>
      <div class="c-analyze-icon__text">
        {{ bad_quality }} złych składników
      </div>
    </div>
  </div>
</template>

<script>
  import BaseSkinIcon from "~/components/base/base-skin-icon";
  export default {
    name: "analyze-icon-result",
    components: {BaseSkinIcon},
    props: {
      icon_name: String,
      icon_value: [String,Number],
      title: String,
      good_quality: [String,Number],
      bad_quality: [String,Number],
    },
  }
</script>

<style lang="scss">
.c-analyze-icon {
  &__skin {
    margin: 0 auto rem(16);
  }

  &__title, &__text {
    text-align: center;
  }

  &__title {
    @extend %bold;
    @include font_sizes(14, 17);
    letter-spacing: 0.02em;

    color: $black;

    margin-bottom: rem(4);

    @include for-width(-tablet) {
      @include font_sizes(12, 15);
    }
  }

  &__text {
    @extend %text-medium-14;
    color: $gray;
    margin-bottom: rem(4);
    &:last-child {
      margin-bottom: 0;
    }

    @include for-width(-tablet) {
      @include font_sizes(12, 15);
    }
  }
}
</style>
