<template>
  <section class="c-analyze-form-sect">
    <div class="container">
      <form @submit.prevent="submit" class="c-analyze-form">
        <div class="c-analyze-form__wrap">
          <label class="c-analyze-form__title">Nazwa</label>
          <p class="c-analyze-form__sub-label">Nazwa kosmetyku ze strony producenta</p>
          <base-input class="c-analyze-form__input -full-width" v-model="product.product_name" type="text" name="product-name"
                      placeholder="Nazwa"/>
        </div>
        <div class="c-analyze-form__wrap">
          <label class="c-analyze-form__title">Skład</label>
          <p class="c-analyze-form__sub-label">Zadbaj proszę o to, aby każdy składnik był po przecinku</p>
          <base-textarea v-model="product.ingredients" name="analyze-text" placeholder="Skład"/>
        </div>
        <div class="c-analyze-form__btns">

          <base-button is_red :disabled="is_loading" class="c-analyze-form__btn">
            <template v-if="is_loading">
              <main-loader-local class="-white-loader"/>
            </template>
            <template v-else>
              <span>
                Analizuj Skład
              </span>
            </template>
          </base-button>
          <p class="c-analyze-form__btn-text">
            Opisy składników w kosmetykach są tworzone przez społeczność Skincody. Jeśli zauważysz błąd lub brakującą
            informację, <b>zgłoś ją do naszego zespołu</b>. Dokładamy wszelkich starań, aby opisy te były prawdziwe i
            pomocne!
          </p>
        </div>
      </form>
    </div>
  </section>
</template>

<script>
  import BaseInput from "~/components/base/base-input";
  import BaseTextarea from "~/components/base/base-textarea";
  import BaseButton from "~/components/base/base-button";
  import MainLoaderLocal from "~/components/main/main-loader-local";
  import { mapFields } from 'vuex-map-fields';

  import slugify from 'slugify';
  import uid from 'uid';

  export default {
    name: "analyze-form",
    components: {MainLoaderLocal, BaseButton, BaseTextarea, BaseInput},
    data() {
      return {
        product: {
          product_name: null,
          ingredients: null,
          unknown_ingredients: null
        },
        is_loading: false
      }
    },
    computed: {
      ...mapFields('analyze', [
        'analyze_ingredients'
      ])
    },
    methods: {
      async submit() {
        if(this.is_loading) return
        this.is_loading = true;

        if (!this.product.product_name || this.product.product_name.length === 0) {
          alert('Nazwa is required');
          this.is_loading = false;
          return;
        }
        if (!this.product.ingredients || this.product.ingredients.length === 0) {
          alert('Skład is required');
          this.is_loading = false;
          return;
        }
        const ingredients = this.product.ingredients.split(', ').map(el => {
          return el.replace(/\([^()]*\)/, '').trim();
        }).join(',');

        const unique_id = uid();

        const product_object = {
          slug: slugify((this.product.product_name + unique_id).toLowerCase(), { remove: /[*+~.,()'"!:@]/g}),
          product_name: this.product.product_name,
          unformatted_ingredients: ingredients
        };

        await this.$store.dispatch('analyze/query_to_get_ingredients', {
          search_ingredients: {ingredients: ingredients},
          product_object
        });
        this.is_loading = false;
        this.$router.push('/analyze/' + product_object.slug)
      }
    },
  }
</script>

<style lang="scss">
  .c-analyze-form {
    max-width: rem(931);

    margin: 0 auto;

    border-radius: rem(25);

    padding: rem(42) rem(53) rem(50);

    background-color: $white;

    box-shadow: 0px 10px 60px rgba(69, 92, 121, 0.1);

    @include for-width(-tablet) {
      max-width: 100%;
      padding: rem(15) rem(20) rem(15);
    }

    &-sect {
      margin-top: rem(-110);

      @include for-width(-tablet) {
        margin-top: rem(-80);
      }
    }

    &__wrap {
      margin-bottom: rem(44);

      &:last-child {
        margin-bottom: rem(52);
      }
    }

    &__title {
      @extend %text-bold;
      color: $black;

      margin-bottom: rem(4);
    }

    &__sub-label {
      @extend %text-regular-16;
      color: $gray;

      margin-bottom: rem(20);
    }

    &__input {
      width: 100%;
      max-width: 100%;
    }

    &__btns {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include for-width(-laptop) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__btn {
      @include for-width(-tablet) {
        width: 100%;
      }
      .c-button {
        width: rem(341);
        @include for-width(-tablet) {
          width: 100%;
        }
      }
    }

    &__btn-text {
      max-width: rem(435);

      @extend %regular;
      color: $gray;
      @include font_sizes(12, 18);
      letter-spacing: 0.02em;

      @include for-width(-laptop) {
        margin-top: rem(20);
      }

      b {
        @extend %bold;
      }
    }
  }
</style>
