<template>
  <nav class="navigation">
    <div class="container">
      <div class="nav">
        <div class="nav__logo">
          <Logo/>
        </div>
        <div class="nav__wrapper">
          <ul class="nav__menu">
            <li v-for="(item, index) in menu_items"
                :key="index"
                class="nav__menu-item">
              <nuxt-link class="nav__menu-link" :to="item.link">
                <span>{{ item.text }}</span>
              </nuxt-link>
            </li>
          </ul>
          <base-search-btn to="/analyze" class="nav__search-link">
            <span>Przenalizuj skład</span>
          </base-search-btn>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
  import Logo from "../Logo";
  import BaseSearchBtn from "../base/base-search-btn";

  export default {
    name: "main-navigation",
    components: {BaseSearchBtn, Logo},
    data() {
      return {
        menu_items: [
          {
            text: 'O nas',
            link: '/about'
          },
          {
            text: 'Blog',
            link: '/blog'
          },
          {
            text: 'Baza składników',
            link: '/ingredients-base'
          },
        ]
      }
    },
  }
</script>

<style lang="scss">
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: rem(80);

    background-color: $white;
    filter: drop-shadow(0px 4px 15px rgba(69, 92, 121, 0.06));

    @include for-width(-tablet) {
      height: rem(50);
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__wrapper, &__menu {
      display: flex;
      align-items: center;
    }

    &__menu {

      &-item {
        margin-right: rem(62);

        @include for-width(-tablet) {
          display: none;

          margin-right: 0;

          //&:last-child {
          //  display: block;
          //}
        }
      }

      &-link {
        @extend %menu-text;
        color: $black;

        &.nuxt-link-active {
          color: $green;
        }
      }
    }
  }
</style>
