<template>
  <div class="c-loader-local">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</template>

<script>
  export default {
    name: "main-loader-local"
  }
</script>

<style lang="scss" scoped>
  .c-loader-local {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    &.-white-loader {
      div {
        background: $white !important;
      }
    }
  }
  .c-loader-local div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: $green;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .c-loader-local div:nth-child(1) {
    left: 8px;
    animation: c-loader-local1 0.6s infinite;
  }
  .c-loader-local div:nth-child(2) {
    left: 8px;
    animation: c-loader-local2 0.6s infinite;
  }
  .c-loader-local div:nth-child(3) {
    left: 32px;
    animation: c-loader-local2 0.6s infinite;
  }
  .c-loader-local div:nth-child(4) {
    left: 56px;
    animation: c-loader-local3 0.6s infinite;
  }
  @keyframes c-loader-local1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes c-loader-local3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes c-loader-local2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

</style>
