<template>
  <div class="c-loading-status" :class="{ show: loading }">
    <div class="c-loading-status__icon">
      <logo/>
    </div>
  </div>
</template>

<script>
  import Logo from "~/components/Logo";
  export default {
    name: "main-loading-status",
    components: {Logo},
    data: () => ({
      loading: false
    }),
    methods: {
      start() {
        this.loading = true
      },
      finish() {
        this.loading = false
      }
    }
  }
</script>

<style lang="scss">
.c-loading-status {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;

  top: 0;
  left: 0;

  z-index: 2;

  width: 100%;
  height: 100vh;

  background-color: $white;

  opacity: 0;

  pointer-events: none;

  transition: all .3s ease;

  &__icon {
    animation-name: opacity;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

  @keyframes opacity {
    0% {
      opacity: .2;
    }
    100% {
      opacity: 1;
    }
  }
</style>
