<template>
  <footer class="c-footer">
    <div class="c-footer__wrap c-footer__wrap_top">
      <div class="container">
        <div class="c-footer__wrapper">
          <div class="c-footer__logo">
            <Logo is_white/>
          </div>
          <p class="c-footer__text">
            Opisy składników w kosmetykach są tworzone przez społeczność Skincody. Jeśli zauważysz błąd lub brakującą
            informację, <b>zgłoś ją do naszego zespołu</b>. Dokładamy wszelkich starań, aby opisy te były prawdziwe i
            pomocne!
          </p>
        </div>
      </div>
    </div>
    <div class="c-footer__wrap c-footer__wrap_bot">
      <div class="container">
        <div class="c-footer__columns">
          <div class="c-footer__column">
            <h3 class="c-footer__col-title">
              Kategorie
            </h3>
            <ul class="c-footer__col-list">
              <li v-for="(item, index) in footer_categories"
                  :key="index"
                  class="c-footer__col-list-item">
                <nuxt-link :to="'/ingredients-base/category/' + item.id" class="c-footer__col-link">
                  <span>{{ item.name }}</span>
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="c-footer__column">
            <h3 class="c-footer__col-title">
              Uwielbiane składniki
            </h3>
            <ul class="c-footer__col-list">
              <li v-for="(item, index) in footer_list_1"
                  :key="index"
                  class="c-footer__col-list-item">
                <nuxt-link :to="`/ingredient/${item.slug}`" class="c-footer__col-link">
                  <span>{{ item.name }}</span>
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="c-footer__column">
            <h3 class="c-footer__col-title">
              Najpopularniejsze
            </h3>
            <ul class="c-footer__col-list">
              <li v-for="(item, index) in footer_list_2"
                  :key="index"
                  class="c-footer__col-list-item">
                <nuxt-link :to="`/ingredient/${item.slug}`" class="c-footer__col-link">
                  <span>{{ item.name }}</span>
                </nuxt-link>
              </li>
            </ul>
          </div>
          <div class="c-footer__column">
            <h3 class="c-footer__col-title">
              Na skróty
            </h3>
            <ul class="c-footer__col-list">
              <li v-for="(item, index) in menu"
                  :key="index"
                  class="c-footer__col-list-item">
                <nuxt-link :to="item.link" class="c-footer__col-link">
                  <span>{{ item.text }}</span>
                </nuxt-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import Logo from "../Logo";
import { mapFields } from 'vuex-map-fields';

export default {
  name: "main-footer",
  components: {Logo},
  data() {
    return {
      menu: [
        {
          text: 'O nas',
          link: '/'
        },
        {
          text: 'Blog',
          link: '/blog'
        },
        {
          text: 'Baza składników',
          link: '/ingredients-base'
        },
        {
          text: 'Kontakt',
          link: '/'
        },
        {
          text: 'Przenalizuj skład',
          link: '/'
        },
        {
          text: 'Polityka prywatności',
          link: '/'
        },
        {
          text: 'Regulamin',
          link: '/'
        },
      ],
    }
  },
  computed: {
    ...mapFields('ingredients', [
      'footer_categories',
      'footer_list_1',
      'footer_list_2'
    ])
  },
}
</script>

<style lang="scss">
.c-footer {
  &__wrap {
    &_top {
      padding: rem(22) 0;
      background-color: $green;
    }

    &_bot {
      padding: rem(50) 0;
      background-color: $black;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    @include for-width(-tablet) {
      flex-direction: column;
    }
  }

  &__text {
    max-width: rem(662);

    margin-left: rem(151);

    @extend %regular;
    @include font_sizes(12, 18);
    letter-spacing: 0.02em;
    color: #F2F2F2;

    @include for-width(-tablet) {
      margin-left: 0;

      margin-top: rem(15);
    }

    b {
      @extend %bold;
    }
  }

  &__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @include for-width(-laptop) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: rem(30);
    }

    @include for-width(-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__col {
    &-title {
      @extend %text-bold;
      margin-bottom: rem(14);
      color: $white;
    }

    &-list-item {
      margin-bottom: rem(10);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      @extend %text-regular-16;
      color: $white;
    }
  }
}
</style>
