<template>
  <div class="c-site-bar">
    <div class="c-site-bar__search-form">
      <base-input icon_class="-black-icon" class="-full-width" v-model="search_query" has_icon placeholder="Szukaj składnika">
        <simple-svg src="/img/icons/search-btn-icon.svg"/>
      </base-input>
    </div>
    <div class="c-site-bar__wrap">
      <p class="c-site-bar__title">
        Popularne Składniki
      </p>
      <transition-group tag="ul" class="c-site-bar__list">
        <li v-for="item in show_popular" class="c-site-bar__list-item" :key="item.id">
          <base-item-link :to="`/ingredient/${item.slug}`">
            <span>{{ item.name }}</span>
          </base-item-link>
        </li>
      </transition-group>
    </div>
  </div>
</template>

<script>
  import BaseInput from "~/components/base/base-input";
  import BaseItemLink from "~/components/base/base-item-link";
  export default {
    name: "main-site-bar",
    components: {BaseItemLink, BaseInput},
    props: {
      popular_ingredients: {
        type: Array,
        require: true
      },
    },
    data() {
      return {
        search_query: ''
      }
    },
    computed: {
      show_popular() {
        return this.popular_ingredients.filter((el) => {
          if(this.search_query.length > 0) return el.name.toUpperCase().includes(this.search_query.toUpperCase())
          return el
        })
      }
    },
  }
</script>

<style lang="scss">
.c-site-bar {
  @include for-width(-laptop) {
    grid-area: sitebar;
  }
  &__search-form {
    margin-bottom: rem(40);
  }

  &__title {
    @extend %text-bold;
    color: $black;

    margin-bottom: rem(20);
  }

  &__list {

    &-item {
      margin-bottom: rem(12);
    }
  }
}
</style>
