<template>
  <section class="c-follow-form-sect">
    <div class="container">
      <div class="c-follow-form">
        <div class="c-follow-form__wrap c-follow-form__wrap_top">
          <h2 class="c-follow-form__title">
            Dołącz do naszej społeczności
          </h2>
          <p class="c-follow-form__text">
            Jeśli chcesz być częścią projektu pomagając nam tworzyć treści i opisy składników lub po prostu chcesz być na bieżąco z tym co robimy, zostaw maila o tu:
          </p>
        </div>
        <form @submit.prevent="" class="c-follow-form__wrap c-follow-form__wrap_form">
          <div class="c-follow-form__elems">
            <base-input name="username" v-model="user_name" placeholder="Imię"/>
            <base-input name="email" v-model="email" placeholder="Adres email"/>
            <base-button class="c-follow-form__btn">
              <span>Zapisz się!</span>
            </base-button>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
  import BaseInput from "~/components/base/base-input";
  import BaseButton from "~/components/base/base-button";
  export default {
    name: "main-follow-form",
    components: {BaseButton, BaseInput},
    data() {
      return {
        user_name: null,
        email: null
      }
    },
  }
</script>

<style lang="scss">
.c-follow-form {
  padding: rem(120) 0;

  @extend %bg-reset;
  background-image: url('/img/form-bg.svg');
  background-size: contain;

  @include for-width(-laptop) {
    background-size: cover;
  }

  &-sect {
    padding: rem(180) 0;
  }

  &__wrap {
    &_top {
      max-width: rem(695);

      margin: 0 auto rem(65);

      @include for-width(-tablet) {
        max-width: rem(300);
      }
    }
    &_form {
      max-width: rem(736);

      margin: 0 auto;
    }
  }

  &__title,
  &__text {
    text-align: center;
  }

  &__title {
    @extend %h2-title;
    color: $black;
    margin-bottom: rem(24);
  }

  &__text {
    @extend %text-regular;
    color: $gray;
  }

  &__elems {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-width(-laptop) {
      flex-direction: column;

      .c-input {
        margin-bottom: rem(20);
      }
    }
  }

  &__btn {
    .c-button {
      max-width: rem(202);
    }
  }
}
</style>
