<template>
  <nuxt-link to="/" class="c-logo">
    <simple-svg :src="`/img/logo-${is_white ? 'white' : 'black'}.svg`"/>
  </nuxt-link>
</template>

<script>
  export default {
    name: 'Logo',
    props: {
      is_white: Boolean
    },
  }
</script>

<style lang="scss">
.c-logo {
  display: block;
  width: rem(145);

  svg {
    width: 100% !important;
  }

  @include for-width(-tablet) {
    width: rem(70);
  }
}
</style>
