<template>
  <div class="c-comment-rating">
    <p class="c-comment-rating__text">{{ rating | upper_first_letter }}</p>
    <comment-star-rating :rating="rating"/>
  </div>
</template>

<script>
  import CommentStarRating from "~/components/comment/comment-star-rating";
  export default {
    name: "comment-rating",
    components: {CommentStarRating},
    props: {
      rating: {
        type: String,
        required: true,
      },
    },
    filters: {
      upper_first_letter(value) {
        return value[0].toUpperCase() + value.slice(1);
      }
    }
  }
</script>

<style lang="scss">
.c-comment-rating {
  display: flex;
  align-items: center;

  &__text {
    @extend %menu-text;
    color: $black;

    margin-right: rem(10);
  }
}
</style>
