<template>
  <div class="c-comment-main">
    <comment-user :photo="user_photo"
                  :name="user_name"
                  :profession="user_profession"
                  class="c-comment-main__user" />
    <comment-rating class="c-comment-main__rating" :rating="comment_rating"/>
    <comment-text class="c-comment-main__content" :content="comment_text"/>
  </div>
</template>

<script>
  import CommentUser from "~/components/comment/comment-user";
  import CommentRating from "~/components/comment/comment-rating";
  import CommentText from "~/components/comment/comment-text";
  export default {
    name: "comment-main",
    components: {CommentText, CommentRating, CommentUser},
    props: {
      user_photo: {
        type: String,
        required: true,
      },
      user_name: {
        type: String,
        required: true,
      },
      user_profession: {
        type: String,
        required: true,
      },
      comment_rating: {
        type: String,
        required: true,
      },
      comment_text: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style lang="scss">
.c-comment-main {
  padding: rem(20) 0;

  border-bottom: 2px solid $gray_light;

  &__user {
    margin-bottom: rem(20);
  }

  &__rating {
    margin-bottom: rem(10);
  }
}
</style>
