<template>
  <ul class="c-comment-star-rating">
    <li v-for="(_, index) in Array(5)" :key="index"
        class="c-comment-star-rating__star">
      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.5 5.8H9.775L8 0.25L6.225 5.8H0.5L5.125 9.225L3.375 14.75L8 11.325L12.625 14.75L10.85 9.2L15.5 5.8Z"
              :fill=" index | check_rating(rating) "/>
      </svg>
    </li>
  </ul>
</template>

<script>
  export default {
    name: "comment-star-rating",
    props: {
      rating: {
        type: String,
        require: true
      },
    },
    filters: {
      check_rating(index, rating) {
        const rating_count = rating === 'avoid' ? 1 :
                             rating === 'bad' ? 2 :
                             rating === 'neutral' ? 3 :
                             rating === 'good' ? 4 : 5;

        return (index + 1) <= rating_count ? '#FF7466' : '#DFDFE7';
      }
    }
  }
</script>

<style lang="scss">
.c-comment-star-rating {
  display: flex;
  align-items: center;

  &__star {
    margin-right: rem(5);

    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
