<template>
  <p class="c-comment-text" v-html="content"></p>
</template>

<script>
  export default {
    name: "comment-text",
    props: {
      content: {
        type: String,
        required: true,
      },
    },
  }
</script>

<style lang="scss">
.c-comment-text {
  @extend %text-regular-16;
  color: $gray;
}
</style>
