<template>
  <div class="c-comment-user">
    <figure class="c-comment-user__photo">
      <img :src="photo" :alt="name">
    </figure>
    <div class="c-comment-user__wrap">
      <h4 class="c-comment-user__name">{{ name }}</h4>
      <div class="c-comment-user__wrapper">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 0C3.58173 0 0 3.58173 0 8C0 12.4183 3.58173 16 8 16C12.4183 16 16 12.4183 16 8C16 3.58173 12.4183 0 8 0ZM8 1.73828C11.4583 1.73828 14.2607 4.54261 14.2607 8C14.2607 11.4574 11.4583 14.2607 8 14.2607C4.54173 14.2607 1.73925 11.4574 1.73925 8C1.73927 4.54261 4.54173 1.73828 8 1.73828ZM11.0654 4.20117L6.42871 8.83887L4.9248 7.33496L3.44921 8.80957L4.95312 10.3135L6.43847 11.7988L7.91309 10.3232L12.5508 5.68652L11.0654 4.20117Z" fill="#62697D"/>
        </svg>
        <p class="c-comment-user__profession">{{ profession }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "comment-user",
    props: {
      photo: {
        type: String,
        required: true
      },
      name: {
        type: String,
        required: true
      },
      profession: {
        type: String,
        required: true
      },
    },
  }
</script>

<style lang="scss">
.c-comment-user {
  display: flex;
  align-items: center;

  &__photo {
    display: block;

    width: rem(65);
    height: rem(65);

    border-radius: 50%;

    overflow: hidden;

    margin-right: rem(20);

    img {
      object-fit: cover;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    svg {
      margin-right: rem(8);
    }
  }

  &__name {
    @extend %btn-text-16;
    color: $black;

    margin-bottom: rem(3);
  }

  &__profession {
    @extend %text-regular-16;
    color: $gray;
  }
}
</style>
