<template>
  <div class="v-analyze-result">
    <header class="v-analyze-result__header">
      <div class="v-analyze-result__header-wrap">
        <h1 class="v-analyze-result__header-title">
          <span>Analiza składu dla:</span><br>
          {{ analyze_name }}
        </h1>
      </div>
    </header>
    <section class="v-analyze-result__icons">
      <ul class="v-analyze-result__icons-list">
        <li class="v-analyze-result__icons-item">
          <analyze-icon-result icon_name="dry"
                               :icon_value="analyze_dry.good > analyze_dry.bad ? 'good' : analyze_dry.good === analyze_dry.bad ? 'neutral' : 'bad'"
                               title="Dla skóry suchej"
                               :good_quality="analyze_dry.good"
                               :bad_quality="analyze_dry.bad"/>
        </li>
        <li class="v-analyze-result__icons-item">
          <analyze-icon-result icon_name="sensitive"
                               :icon_value="analyze_sensitive.good > analyze_sensitive.bad ? 'good' : analyze_sensitive.good === analyze_sensitive.bad ? 'neutral' : 'bad'"
                               title="Dla skóry wrażliwej"
                               :good_quality="analyze_sensitive.good"
                               :bad_quality="analyze_sensitive.bad"/>
        </li>
        <li class="v-analyze-result__icons-item">
          <analyze-icon-result icon_name="oily"
                               :icon_value="analyze_oily.good > analyze_oily.bad ? 'good' : analyze_oily.good === analyze_oily.bad ? 'neutral' : 'bad'"
                               title="Dla cery tłustej"
                               :good_quality="analyze_oily.good"
                               :bad_quality="analyze_oily.bad"/>
        </li>
        <li class="v-analyze-result__icons-item">
          <analyze-icon-result icon_name="mature"
                               :icon_value="analyze_mature.good > analyze_mature.bad ? 'good' : analyze_mature.good === analyze_mature.bad ? 'neutral' : 'bad'"
                               title="Dla cery dojrzałej"
                               :good_quality="analyze_mature.good"
                               :bad_quality="analyze_mature.bad"/>
        </li>
        <li class="v-analyze-result__icons-item">
          <base-line-icon class="v-analyze-result__icons-ico" :quality="analyze_recommendation.res"/>
          <h3 class="v-analyze-result__icons-title">Kontrowersyjnych</h3>
          <div class="v-analyze-result__icons-text">
              {{ analyze_recommendation.rate }} składników
          </div>
        </li>
      </ul>
    </section>
    <section class="v-analyze-result__main-res">
      <base-notification :quality="analyze_recommendation.res === 'love' ? 'good' : 'bad'"/>
    </section>
    <section class="v-analyze-result__table">
      <div class="v-analyze-result__table-head">
        <span class="v-analyze-result__table-head-item">EWG</span>
        <span class="v-analyze-result__table-head-item">Składnik</span>
        <span class="v-analyze-result__table-head-item">Działanie</span>
        <span class="v-analyze-result__table-head-item">Rekomendacje</span>
      </div>
      <div class="v-analyze-result__table-body">
        <div  v-for="ing in analyze_ingredients"
              :key="ing.id"
              class="v-analyze-result__table-body-item">
          <div class="v-analyze-result__table-body-ewg">
            <base-quality-icon hide_text :number="ing.ewg" />
          </div>
          <div class="v-analyze-result__table-body-name">
            <nuxt-link :to="`/ingredient/${ing.slug}`">
              <span>{{ ing.name }}</span>
            </nuxt-link>
          </div>
          <div class="v-analyze-result__table-body-description">
            <p>
              {{ ing.description }}
            </p>
          </div>
          <div class="v-analyze-result__table-body-icons">
            <template v-if="ing.dry_skin === 'good' ||  ing.dry_skin === 'bad'">
              <base-skin-icon small class="v-analyze-result__table-body-skin" icon_name="dry" :quality="ing.dry_skin"/>
            </template>

            <template v-if="ing.mature_skin === 'good' ||  ing.mature_skin === 'bad'">
              <base-skin-icon small class="v-analyze-result__table-body-skin" icon_name="mature" :quality="ing.mature_skin"/>
            </template>

            <template v-if="ing.oily_skin === 'good' ||  ing.oily_skin === 'bad'">
              <base-skin-icon small class="v-analyze-result__table-body-skin" icon_name="oily" :quality="ing.oily_skin"/>
            </template>

            <template v-if="ing.sensitive_skin === 'good' ||  ing.sensitive_skin === 'bad'">
              <base-skin-icon small class="v-analyze-result__table-body-skin" icon_name="sensitive" :quality="ing.sensitive_skin"/>
            </template>

            <template v-if="ing.recommendation === 'love' ||  ing.recommendation === 'hate'">
              <base-line-icon small class="v-analyze-result__table-body-skin" :quality="ing.recommendation"/>
            </template>
          </div>
        </div>
        <div  v-for="(ing, index) in analyze_unknown_ingredients"
              :key="index"
              class="v-analyze-result__table-body-item -empty-line">
          <div class="v-analyze-result__table-body-ewg">

          </div>
          <div class="v-analyze-result__table-body-name">
              <span>{{ ing }}</span>
          </div>
          <div class="v-analyze-result__table-body-description">

          </div>
          <div class="v-analyze-result__table-body-icons">

          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import { mapFields } from 'vuex-map-fields';
  import AnalyzeIconResult from "~/components/analyze/analyze-icon-result";
  import BaseLineIcon from "~/components/base/base-line-icon";
  import BaseNotification from "~/components/base/base-notification";
  import BaseQualityIcon from "~/components/base/base-quality-icon";
  import BaseSkinIcon from "~/components/base/base-skin-icon";
  export default {
    name: "_slug",
    components: {BaseSkinIcon, BaseQualityIcon, BaseNotification, BaseLineIcon, AnalyzeIconResult},
    layout: 'site-bar-layout',
    async middleware({ store, redirect, route, error, }) {
      const name = store.getters['analyze/getField']('analyze_name');
      const ingredients = store.getters['analyze/getField']('analyze_ingredients');

      if(!name || ingredients.length === 0) {
        const result = await store.dispatch('analyze/get_query', route.params.slug);

        if (result === 404) error({ statusCode: 404 });
        await store.dispatch('ingredients/get_footer_links');
      };
    },
    data() {
      return {
        skins: [
          'dry',
          'sensitive',
          'oily',
          'mature',
        ]
      }
    },
    methods: {
      analyze_el(name) {
        let good = 0;
        let bad = 0;
        this.analyze_ingredients.map((el) => {
          if(el[name] === 'good') good += 1;
          if(el[name] === 'bad') bad += 1;
        });

        return { good, bad }
      }
    },
    computed: {
      ...mapFields('analyze', [
        'analyze_name',
        'analyze_ingredients',
        'analyze_unknown_ingredients',
      ]),
      analyze_dry() {
        return this.analyze_el('dry_skin');
      },
      analyze_sensitive() {
        return this.analyze_el('sensitive_skin');
      },
      analyze_mature() {
        return this.analyze_el('mature_skin');
      },
      analyze_oily() {
        return this.analyze_el('oily_skin');
      },
      analyze_recommendation() {
        let good = 0;
        let hate = 0;
        let none = 0;

        good = this.analyze_ingredients.filter(({ recommendation }) => {
          return recommendation === 'love'
        }).length
        hate = this.analyze_ingredients.filter(({ recommendation }) => {
          return recommendation === 'hate'
        }).length
        none = this.analyze_ingredients.filter(({ recommendation }) => {
          return recommendation === 'none'
        }).length

        if(this.analyze_ingredients.length === 1 && hate === 1) return { res: 'love', rate: hate }
        if(hate === 2) return { res: 'none', rate: hate };
        if(hate >= 3) return { res: 'hate', rate: hate };

        return { res: 'love', rate: hate }
      },
    },
  }
</script>

<style lang="scss">
.v-analyze-result {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: rem(284);

    @extend %bg-reset;
    background-image: url('/img/analyze-result-bg.jpg');

    border-radius: rem(5);

    color: $white;

    margin-bottom: rem(20);

    &-title {
      @extend %text-title-24;
      text-align: center;
      @include for-width(-tablet) {
        @include font_sizes(18, 25);
      }
      span {
        display: inline-block;
        @extend %h3-title;
        margin-bottom: rem(10);

        @include for-width(-tablet) {
          @include font_sizes(25, 30);
        }
      }
    }
  }

  &__icons {
    padding: rem(32) rem(31) rem(24) rem(31);
    filter: drop-shadow(0px 2px 50px rgba(69, 92, 121, 0.08));
    border-radius: rem(5);
    overflow: hidden;
    background-color: $white;

    @include for-width(-laptop) {
      padding: rem(15);
    }

    &-list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @include for-width(-tablet) {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: inherit;
      }
    }

    &-item {
      @include for-width(-tablet) {
        width: rem(150);

        margin: 0 0 rem(20);
      }
    }

    &-ico {
      margin: 0 auto rem(16);
    }

    &-title, &-text {
      text-align: center;
    }

    &-title {
      @extend %bold;
      @include font_sizes(14, 17);
      letter-spacing: 0.02em;

      color: $black;

      margin-bottom: rem(4);

      @include for-width(-tablet) {
        @include font_sizes(12, 15);
      }
    }

    &-text {
      @extend %text-medium-14;
      color: $gray;
    }
  }

  &__main-res {
    margin: rem(36) 0 rem(20);
  }

  &__table {
    padding: rem(30) rem(40);
    filter: drop-shadow(0px 2px 50px rgba(69, 92, 121, 0.08));
    border-radius: rem(5);
    overflow: hidden;
    background-color: $white;

    @include for-width(-laptop) {
      padding: rem(20);
    }

    &-head {
      display: grid;
      grid-template-columns: rem(105) rem(217) rem(341) rem(151);

      padding-bottom: rem(28);

      border-bottom: rem(2) solid $gray_light;

      @include for-width(-laptop) {
        grid-template-columns: rem(80) rem(170) rem(270) 1fr;
      }

      @include for-width(-tablet) {
        display: none;
      }

      &-item {
        @extend %btn-text-18;
        color: $black;
      }
    }

    &-body {

      &-item {
        display: grid;
        grid-template-columns: rem(105) rem(217) rem(341) rem(151);

        padding: rem(40) 0 rem(20);

        border-bottom: rem(2) solid $gray_light;

        @include for-width(-laptop) {
          grid-template-columns: rem(80) rem(170) rem(270) 1fr;
        }

        @include for-width(-tablet) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        &.-empty-line {
          padding-bottom: rem(40);
        }
      }

      &-name {
        @extend %semibold;
        @include font_sizes(16, 20);
        letter-spacing: 0.02em;


        a {
          span {
            text-decoration: underline;
          }
        }
        a, span {
          display: inline-block;

          color: $black;

          max-width: rem(139);
        }

        @include for-width(-tablet) {
          max-width: 100%;

          text-align: center;

          margin: rem(10) 0;
        }
      }

      &-description {
        p {
          @extend %text-medium-14;
          color: $black;

          max-width: rem(295);

          @include for-width(-laptop) {
            max-width: rem(250);
          }

          @include for-width(-tablet) {
            //max-width: 100%;
            text-align: center;

            margin-bottom: rem(20);
          }
        }
      }

      &-icons {
        display: flex;
        flex-wrap: wrap;
      }

      &-skin {
        width: rem(32);
        height: rem(32);

        margin-right: rem(8);
        margin-bottom: rem(8);
      }
    }
  }
}
</style>
