<template>
  <main>
    <analyze-header/>
    <analyze-form/>
    <section class="c-glovo-add">
      <a href="https://glovoapp.com/" target="_blank" class="c-glovo-add__link">
        <img src="/img/analyze/glovo-adv.jpg" alt="Glovo Add">
      </a>
    </section>
  </main>
</template>

<script>
  import AnalyzeHeader from "~/components/analyze/analyze-header";
  import AnalyzeForm from "~/components/analyze/analyze-form";
  export default {
    name: "index",
    components: {AnalyzeForm, AnalyzeHeader},
    async middleware({ store }) {
      await store.dispatch('ingredients/get_footer_links');
    }
  }
</script>

<style lang="scss">
  .c-glovo-add {
    padding: rem(188) rem(38) 0;
    width: 100%;

    &__link {
      display: block;
      width: inherit;
    }
  }
</style>
