<template>
  <div class="c-base-icon">
    <img :src="`/img/icons/face-icon-${quality}.svg`" :alt="`icon ${quality}`" />
  </div>
</template>

<script>
  import icons_mixin from "~/mixins/icons_mixin";
  export default {
    name: "base-face-icon",
    mixins: [icons_mixin]
  }
</script>

<style lang="scss">
</style>
