<template>
  <div>
    <template v-if="!!to">
      <nuxt-link :to="to" class="c-button"
              :class="`${ is_red ? '_red-btn' : '_green-btn' }`">
        <slot></slot>
      </nuxt-link>
    </template>
    <template v-else>
      <button class="c-button"
              :disabled="disabled"
              :class="`${ is_red ? '_red-btn' : '_green-btn' }`"
              @click="$emit('click')">
        <slot></slot>
      </button>
    </template>
  </div>
</template>

<script>
  export default {
    name: "base-button",
    props: {
      to: String,
      is_red: Boolean,
      disabled: Boolean,
    },
  }
</script>

<style lang="scss">
</style>
