<template>
  <nuxt-link :to="`${is_blog_category ? '/blog/category/' : '/ingredients-base/category/' }${to}`"
             class="c-category-btn" :class="{ active: is_active }">
    <slot></slot>
  </nuxt-link>
</template>

<script>
  export default {
    name: "base-category-btn",
    props: {
      to: {
        type: [String,Number],
        require: true
      },
      is_active: Boolean,
      is_blog_category: Boolean
    },
  }
</script>

<style lang="scss">
.c-category-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 rem(27);
  height: rem(39);

  border-radius: rem(50);
  background-color: $orange_light;

  @extend %menu-text;
  color: $orange;

  transition: all .3s ease;

  &:hover, &.active {
    background-color: $orange;
    color: $white;
  }
}
</style>
