<template>
  <div class="c-notification" :class="`quality-${quality}`">
    <div class="c-notification__container">
      <div class="c-notification__icon">
        <simple-svg :src="`/img/icons/notification-${quality}.svg`"/>
      </div>
      <div class="c-notification__content">
        <h3 class="c-notification__title">
          <template v-if="is_quality_good">
            Ten kosmetyk wygląda obiecująco!
          </template>
          <template v-else>
            Unikaj tego kosmetyku!
          </template>
        </h3>
        <p class="c-notification__text">
          <template v-if="is_quality_good">
            Ma bogaty skład i żadnych składników kontrowersyjnych.
          </template>
          <template v-else>
            Zawiera kontrowersyjne elementy
          </template>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "base-notification",
    props: {
      quality: {
        type: String,
        require: true
      }
    },
    computed: {
      is_quality_good() {
        return this.quality === 'good';
      }
    },
  }
</script>

<style lang="scss">
.c-notification {
  display: flex;
  align-items: center;

  max-width: rem(892);
  height: rem(134);

  border-radius: rem(5);

  @include for-width(-tablet) {
    height: auto;
    padding: rem(20);
  }

  &.quality {
    &-good {
      background-color: $estimate_good;
    }
    &-bad {
      background-color: $estimate_bad;
    }
  }

  &__container {
    display: flex;

    width: 100%;
    max-width: rem(600);

    margin: 0 auto;

    @include for-width(-tablet) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__icon {
    margin-right: rem(45);

    @include for-width(-tablet) {
      margin-right: 0;
    }
  }

  &__title {
    @extend %text-title-30;
    color: $white;
    margin-bottom: rem(6);

    @include for-width(-tablet) {
      text-align: center;

      margin: rem(15) 0;
    }
  }

  &__text {
    @extend %text-medium;
    color: $white;

    @include for-width(-tablet) {
      text-align: center;
    }
  }
}
</style>
