<template>
  <nuxt-link :to="to"
             :class="{ green: is_even }"
             class="c-ingredient-item">
      <h3 class="c-ingredient-item__title">
        {{ title }}
      </h3>
  </nuxt-link>
</template>

<script>
  export default {
    name: "base-ingredient-item",
    props: {
      to: {
        type: String,
      },
      title: {
        type: String,
      },
      is_even: Boolean
    },
  }
</script>

<style lang="scss">
.c-ingredient-item {
  display: flex;
  align-items: flex-end;

  width: rem(278);
  height: rem(271);

  padding: rem(22) rem(36) rem(22) rem(36);

  border-radius: rem(10);

  background-color: $orange_light;

  &.green {
    background-color: $green_light;
    .c-ingredient-item {
      &__title {
        color: $green;
      }
    }
  }

  &__title {
    height: fit-content;

    @extend %text-title-30;
    color: $orange;
  }
}
</style>
