<template>
  <div class="c-textarea">
    <textarea class="c-textarea__el"
              :name="name || 'name-textarea'"
              @input="$emit('input', val)"
              v-model="val"
              :placeholder="placeholder || 'placeholder'"></textarea>
  </div>
</template>

<script>
  export default {
    name: "base-textarea",
    props: {
      name: String,
      placeholder: String,
      value: {
        type: [String,Number],
        default: '',
      }
    },
    data() {
      return {
        val: this.value
      }
    },
  }
</script>

<style lang="scss">
.c-textarea {
  width: 100%;
  height: rem(152);

  border: 1px solid $gray_light;
  border-radius: rem(10);

  &__el {
    display: block;

    width: 100%;
    height: 100%;

    border: none;

    padding: rem(16) rem(24);

    @extend %text-regular-16;
    color:$black;
  }
}
</style>
