<template>
  <ul class="c-base-rating">
    <li v-for="(_,i) in Array(5)"
        :key="i"
        @mouseover="rating_index = i"
        @mouseout="rating_index = val_index"
        @click="emit_rating"
        class="c-base-rating__star">
      <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.5 5.8H9.775L8 0.25L6.225 5.8H0.5L5.125 9.225L3.375 14.75L8 11.325L12.625 14.75L10.85 9.2L15.5 5.8Z"
              :fill="i | check_rating(rating_index)"/>
      </svg>
    </li>
  </ul>
</template>

<script>
export default {
  name: "base-rating",
  props: {
    value: {
      type: [String, Number],
    }
  },
  data() {
    return {
      rating_index: null,
      val_index: null,
    }
  },
  watch: {
    value(val) {
      const rating = val === 'avoid' ? 0 :
                     val === 'bad' ? 1 :
                     val === 'neutral' ? 2 :
                     val === 'good' ? 3 : 4

      this.val_index = rating;
    },
  },
  methods: {
    emit_rating() {
      const rating_name = 1 + this.rating_index === 1 ? 'avoid' :
                          1 + this.rating_index === 2 ? 'bad' :
                          1 + this.rating_index === 3 ? 'neutral' :
                          1 + this.rating_index === 4 ? 'good' : 'great';

      this.$emit('input', rating_name)
    }
  },
  filters: {
    check_rating(index, rating) {
      return index <= rating && typeof rating !== 'object' ? '#FF7466' : '#DFDFE7';
    }
  }
}
</script>

<style lang="scss">
.c-base-rating {
  display: flex;
  align-items: center;

  li {
    margin-right: rem(5);

    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
