<template>
  <div class="c-card-item">
    <figure class="c-card-item__img">
      <img :src="cover_image" :alt="title">
    </figure>
    <div class="c-card-item__content">
      <h3 class="c-card-item__title">
        {{ title | crop_text(52) }}
      </h3>
      <p class="c-card-item__text">
        {{ description | crop_text(80) }}
      </p>
      <div class="c-card-item__btn-wrap">
        <div v-if="price" class="c-card-item__price">
          ≈ {{ price }} zł.
        </div>
        <template v-if="price">
          <base-arrow-link-external :to="link_path" is_orange>
            <span>Zobacz w sklepie</span>
          </base-arrow-link-external>
        </template>
        <template v-else>
          <base-arrow-link :to="link_path" is_orange>
            <span>Czytaj więcej</span>
          </base-arrow-link>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseArrowLink from "./base-arrow-link";
  import BaseArrowLinkExternal from "~/components/base/base-arrow-link-external";

  export default {
    name: "base-card-item",
    components: {BaseArrowLinkExternal, BaseArrowLink},
    props: {
      cover_image: {
        type: String,
        require: true,
      },
      title: {
        type: String,
        require: true,
      },
      description: {
        type: String,
        require: true,
      },
      price: {
        type: String,
        require: true,
      },
      link_path: {
        type: String,
        require: true,
      }
    },
    filters: {
      crop_text(value, number) {
        if(value.length > number) {
          return value.slice(0, number) + '...';
        }
        return value
      }
    }
  }
</script>

<style lang="scss">
  .c-card-item {
    width: rem(380);
    height: auto;
    overflow: hidden;
    margin-bottom: rem(25);

    border-radius: rem(10);
    background-color: $white;
    transition: all .3s ease;

    @include for-width(-tablet) {
      width: 100%;
    }

    &:hover {
      filter: drop-shadow(0px 10px 60px rgba(69, 92, 121, 0.1));
    }

    &__img {
      width: 100%;
      height: rem(253);
      overflow: hidden;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: rem(24);
    }

    &__title {
      @extend %text-title-24;
      color: $black;

      min-height: rem(70);
    }

    &__text {
      @extend %text-regular-16;
      color: $gray;
      margin: rem(10) 0 rem(22);
    }

    &__btn-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__price {
      @extend %text-bold;
      color: $black;
    }
  }
</style>
