<template>
  <nuxt-link :to="to" class="c-search-btn">
    <i class="c-search-btn__ico">
      <simple-svg src="/img/icons/search-btn-icon.svg"/>
    </i>
    <slot></slot>
  </nuxt-link>
</template>

<script>
  export default {
    name: "base-search-btn",
    props: {
      to: {
        type: String,
        default: '/',
        required: true,
      }
    },
  }
</script>

<style lang="scss">
.c-search-btn {
  display: flex;
  align-items: center;

  @extend %btn-text-16;

  @include for-width(-tablet) {
    @include font_sizes(12, 16);
  }
  color: $orange;

  transition: all .3s ease;
  &__ico {
    display: inline-block;
    margin-right: rem(11);
    svg {
      path {
        transition: all .3s ease;
      }
    }
  }

  &:hover {
    color: #F56354;
    .c-search-btn {
      svg {
        path {
          fill: #F56354;
        }
      }
    }
  }
}
</style>
