<template>
  <div class="c-input" :class="{ 'has-icon': has_icon }">
    <template v-if="has_icon">
      <div class="c-input__icon" :class="`${icon_class}`">
        <slot></slot>
      </div>
    </template>
    <input class="c-input__el"
           :type="type || 'text'"
           :name="name || 'input-name'"
           @input="$emit('input', val)"
           :placeholder="placeholder || 'placeholder'"
           @blur="$emit('blur', val)"
           @keyup.enter="$emit('enter-key', val)"
           v-model="val">
  </div>
</template>

<script>
  export default {
    name: "base-input",
    props: {
      value: {
        type: [String,Number],
        default: ''
      },
      type: String,
      placeholder: String,
      name: String,
      has_icon: Boolean,
      icon_class: String,
    },
    data() {
      return {
        val: this.value,
      }
    },
  }
</script>

<style lang="scss">
.c-input {
  display: flex;
  align-items: center;

  min-width: rem(252);
  width: rem(252);
  height: rem(56);

  border-radius: rem(10);
  border: 1px solid $gray_light;

  background-color: $white;
  &.-full-width {
    width: 100%;
    min-width: 100%;
  }
  &.has-icon {
    .c-input {
      &__el {
        padding-left: rem(18);
      }
    }
  }
  &__el {
    display: block;

    width: 100%;
    height: 100%;

    @extend %text-regular-16;
    color: $black;

    padding-left: rem(24);
    border: none;
    background-color: transparent;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: rem(25);
    svg {
      path {
        fill: $black;
      }
    }
  }
}
</style>
