<template>
  <div class="c-skin-icon" :class="`${small ? 'small' : ''} color-${quality} icon-${icon_name}`">
    <simple-svg :src="`/img/icons/skin-${icon_name}.svg`"/>
  </div>
</template>

<script>
  import icons_mixin from "~/mixins/icons_mixin";
  export default {
    name: "base-skin-icon",
    props: {
      icon_name: {
        type: String,
        required: true,
      },
      small: Boolean,
    },
    mixins: [icons_mixin]
  }
</script>

<style lang="scss">

</style>
