<template>
  <a class="c-arrow-link" :class="{ orange: is_orange }" target="_blank" :href="to">
    <slot></slot>
    <i class="c-arrow-link__arrow">
      <simple-svg src="/img/icons/arrow-ico.svg"/>
    </i>
  </a>
</template>

<script>
  import arrow_link from "~/mixins/arrow_link";
  export default {
    name: "base-arrow-link-external",
    mixins: [arrow_link]
  }
</script>

<style lang="scss">

</style>
