<template>
  <nuxt-link class="c-arrow-link" :class="{ orange: is_orange }" :to="to">
    <slot></slot>
    <i class="c-arrow-link__arrow">
      <simple-svg src="/img/icons/arrow-ico.svg"/>
    </i>
  </nuxt-link>
</template>

<script>
  import arrow_link from "~/mixins/arrow_link";

  export default {
    name: "base-arrow-link",
    mixins: [arrow_link]
  }
</script>

<style lang="scss">
</style>
