<template>
  <nuxt-link :to="to" class="c-base-item-link">
    <slot></slot>
  </nuxt-link>
</template>

<script>
  export default {
    name: "base-item-link",
    props: {
      to: {
        type: [Number, String],
        default: '/',
        required: true,
      },
    },
  }
</script>

<style lang="scss">
.c-base-item-link {
  @extend %text-regular-16;
  color: $gray;

  cursor: pointer;

  transition: all .5s ease;

  &:hover, &.nuxt-link-active {
    color: $orange;
  }
}
</style>
