<template>
  <div class="c-base-content-block">
    <h2 class="c-base-content-block__title" v-if="!!title">
      {{ title }}
    </h2>
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: "base-content-block",
    props: {
      title: String
    },
  }
</script>

<style lang="scss">
.c-base-content-block {
  width: 100%;

  padding: rem(26) rem(30);

  margin-bottom: rem(20);

  border-radius: rem(5);
  background-color: $white;

  filter: drop-shadow(0px 2px 50px rgba(69, 92, 121, 0.08));

  @include for-width(-tablet) {
    padding: rem(20);
  }

  &.-big-padding {
    padding: rem(30) rem(40);
    @include for-width(-tablet) {
      padding: rem(20);
    }
  }
  &.-center-mode {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    @extend %text-bold;
    color: $black;

    margin-bottom: rem(16);
  }
}
</style>
