<template>
  <button class="c-letter-btn"
          @click="$emit('click', name)"
          :class="{ active: is_active }">
    <slot></slot>
  </button>
</template>

<script>
  export default {
    name: "base-letter-btn",
    props: {
      is_active: Boolean,
      name: {
        type: String,
        required: true,
      }
    },
  }
</script>

<style lang="scss">
.c-letter-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: rem(73);
  height: rem(63);

  border-radius: rem(5);

  @extend %h3-title;
  @extend %ttu;
  color: $black;

  background-color: $gray_lighter;

  transition: all .3s ease;

  &:hover, &.active {
    background-color: $green;
    color: $white;
  }
}
</style>
