<template>
  <div class="c-quality-ico"
       :class="`color-${set_icon_color} ${is_large ? 'large' : '' }`">
    <div class="c-quality-ico__icon">
      {{ number }}
    </div>
    <p class="c-quality-ico__text" v-if="!hide_text">
      ewg
    </p>
  </div>
</template>

<script>
  export default {
    name: "base-quality-icon",
    props: {
      number: {
        type: [String, Number],
        default: 1,
        required: true
      },
      is_large: Boolean,
      hide_text: Boolean,
    },
    computed: {
      set_icon_color() {
        let num = this.number;
        if(isNaN(+this.number)) {
          if(this.number.includes('-')) {
              num = this.number.split('-')[1];
          }
        }
        return +num > 0 && +num <= 2 ? 'green' :
               +num >= 3 && +num <= 6 ? 'yellow' : 'red';
      }
    },
  }
</script>

<style lang="scss">
.c-quality-ico {
  &.color {
    &-green {
      .c-quality-ico {
        &__icon {
          background-color: $estimate_good;
        }
        &__text {
          color: $estimate_good;
        }
      }
    }
    &-yellow {
      .c-quality-ico {
        &__icon {
          background-color: $estimate_neutral;
        }
        &__text {
          color: $estimate_neutral;
        }
      }
    }
    &-red {
      .c-quality-ico {
        &__icon {
          background-color: $estimate_bad;
        }
        &__text {
          color: $estimate_bad;
        }
      }
    }
  }
  &.large {
    .c-quality-ico__icon {
      width: rem(64);
      height: rem(64);
      border-radius: rem(10) rem(50) rem(50) rem(50);
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: rem(52);
    height: rem(52);
    border-radius: rem(8.125) rem(40.625) rem(40.625) rem(40.625);

    @extend %bold;
    @include font_sizes(20, 30);
    color: $white;
  }
  &__text {
    @extend %bold;
    @include font_sizes(30, 36);
  }
}
</style>
