<template>
  <div class="_default-layout">
    <main-navigation/>
    <Nuxt />
    <main-follow-form/>
    <main-footer/>
  </div>
</template>
<script>
  import MainNavigation from "~/components/main/main-navigation";
  import MainFollowForm from "~/components/main/main-follow-form";
  import MainFooter from "~/components/main/main-footer";
  import OverlayContainer from "~/components/overlay/overlay-container";
  export default {
    components: {MainFooter, MainFollowForm, MainNavigation}
  }
</script>
<style lang="scss">
._default-layout {
  padding-top: rem(80);
  @include for-width(-tablet) {
    padding-top: rem(50);
  }
}
</style>
