<template>
  <div class="_default-layout">
    <main-navigation/>
    <Nuxt />
    <main-footer/>
  </div>
</template>

<script>
  import MainFooter from "~/components/main/main-footer";
  import MainNavigation from "~/components/main/main-navigation";
  export default {
    name: "empty",
    components: {MainNavigation, MainFooter}
  }
</script>

<style lang="scss" scoped>

</style>
