<template>
  <div class="v-error-page">
    <div class="container">
      <div class="v-error-page__wrap">
        <div class="v-error-page__wrapper">
          <p class="v-error-page__text">Oops!</p>
          <h1 class="v-error-page__title">{{ error.statusCode }}</h1>
          <p class="v-error-page__subtitle">{{ error_text }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
name: "error",
  props: ['error'],
  computed: {
    error_text() {
      return this.error.statusCode === 500 ? 'It Looks Like That something went wrong, please try again!' : this.error.statusCode === 404 ? 'It Looks Like That Page Doesn’t Exist' : '';
    }
  },
}
</script>

<style lang="scss">
.v-error-page {
  width: 100%;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    @extend %text-title-24;
    color: $black;
  }

  &__title {
    @extend %bold;
    font-size: rem(190);
    color: $orange;
  }

  &__subtitle {
    @extend %text-medium;
    color: $black;
  }
}
</style>
