<template>
  <div class="_site-bar-layout">
    <main-navigation/>
    <div class="container">
      <div class="-layout">
<!--        <template v-if="$device.isDesktop">-->
          <main-site-bar :popular_ingredients="ingredients"/>
<!--        </template>-->
        <Nuxt />
      </div>
      <ingredient-products v-if="ingredient && ingredient.products.length > 0" :products="ingredient.products"/>
    </div>
    <main-follow-form/>
    <main-footer/>
    <overlay-container/>
  </div>
</template>

<script>
  import MainFooter from "~/components/main/main-footer";
  import MainNavigation from "~/components/main/main-navigation";
  import MainFollowForm from "~/components/main/main-follow-form";
  import MainSiteBar from "~/components/main/main-site-bar";

  import { mapFields } from 'vuex-map-fields'
  import IngredientProducts from "~/components/ingredients/ingredient-products";
  import OverlayContainer from "~/components/overlay/overlay-container";
  export default {
    name: "site-bar-layout",
    components: {OverlayContainer, IngredientProducts, MainSiteBar, MainFollowForm, MainNavigation, MainFooter},
    async middleware({ store, isDesktop }) {
        await store.dispatch('ingredients/get_popular_ingredients');
    },
    computed: {
      ...mapFields('ingredients', [
        'ingredients',
        'ingredient'
      ])
    },
  }
</script>

<style lang="scss">
._site-bar-layout {
  padding-top: rem(100);
  @include for-width(-tablet) {
    padding-top: rem(70);
  }
  .-layout {
    display: grid;
    grid-template-columns: rem(278) 1fr;
    grid-gap: rem(30);

    @include for-width(-laptop) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'content'
        'sitebar';
    }
  }
}
</style>
