<template>
  <div class="v-article">
    <div class="container">
      <h1 class="v-article__title">
        {{ one_article.title }}
      </h1>
      <p class="v-article__subtitle">
        {{ one_article.subtitle }}
      </p>
    </div>
    <figure class="v-article__cover">
      <img :src="one_article.cover" :alt="one_article.title">
    </figure>
    <div class="container">
      <div class="v-article__wrap">
        <div class="v-article__wrapper v-article__wrapper_left">
            <div class="v-article__top">
              <div class="v-article__user">
                <figure class="v-article__user-photo">
                  <img :src="one_article.user.photo" :alt="one_article.user.name">
                </figure>
                <div class="v-article__user-wrap">
                  <h2 class="v-article__user-name">{{ one_article.user.name }}</h2>
                  <div class="v-article__user-created">{{ created_at }}</div>
                </div>
              </div>
              <div class="v-article__share">
                <share-network
                  class="v-article__share-btn"
                  network="facebook"
                  :url="share_location"
                  :title="one_article.title"
                  :description="one_article.subtitle">
                  <simple-svg src="/img/icons/fb.svg"/>
                </share-network>
<!--                <button class="v-article__share-btn">-->
<!--                </button>-->
                <share-network class="v-article__share-btn"
                               network="twitter"
                               :url="share_location"
                               :title="one_article.title">
                  <simple-svg src="/img/icons/tw.svg"/>
                </share-network>
              </div>
            </div>
            <markdown-it-vue class="v-article__content" :content="one_article.content"/>
        </div>
        <div class="v-article__wrapper v-article__wrapper_right">
          <h3 class="v-article__prod-title">
            Produkty w tym artykule:
          </h3>
          <div class="v-article__products">
            <div v-for="prod in one_article.products" :key="prod.id"
                 class="v-article__products-item">
              <figure class="v-article__products-photo">
                <img :src="prod.photo" :alt="prod.title">
              </figure>
              <div class="v-article__products-content">
                <h3 class="v-article__products-title">{{ prod.title }}</h3>
                <p class="v-article__products-text">{{ prod.subtitle }}</p>
                <base-arrow-link-external is_orange :to="prod.url">
                  <span>Zobacz w sklepie</span>
                </base-arrow-link-external>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container -blog">
      <div class="v-article__bot">
        <div class="v-article__share v-article__share_full">
          <share-network class="v-article__share-btn v-article__share-btn_full"
            network="facebook"
            :url="share_location"
            :title="one_article.title"
            :description="one_article.subtitle">
            <div>
              <simple-svg src="/img/icons/fb.svg"/>
              <span>Podziel się na Facebooku</span>
            </div>
          </share-network>
          <share-network class="v-article__share-btn v-article__share-btn_full"
                         network="twitter"
                         :url="share_location"
                         :title="one_article.title">
            <div>
              <simple-svg src="/img/icons/tw.svg"/>
              <span>Podziel się na Twitterze</span>
            </div>
          </share-network>
        </div>
        <div class="v-article__tags-wrap">
          <p class="v-article__tags-text">Tags: </p>
          <ul class="v-article__tags">
            <li v-for="cat in one_article.categories" class="v-article__tags-item" :key="cat.id">
              <nuxt-link :to="'/blog/category/' + cat.id" class="v-article__tags-link">
                <span>{{ cat.name }}</span>
              </nuxt-link>
            </li>
          </ul>
        </div>
      </div>
      <div class="v-article__user-full">
        <div class="v-article__user-photo">
          <img :src="one_article.user.photo" :alt="one_article.user.name">
        </div>
        <div class="v-article__user-full-content">
          <b>{{ one_article.user.name }}</b><br>
          {{ one_article.user.description }}
        </div>
      </div>
    </div>
    <div class="container">
      <h2 class="v-article__posts-title">Czytaj dalej</h2>
      <div class="v-article__posts">
        <base-card-item v-for="post in posts"
                        :key="post.id"
                        :cover_image="post.cover"
                        :description="post.subtitle"
                        :link_path="`/blog/${post.slug}`"
                        :title="post.title"/>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapFields } from 'vuex-map-fields';
  import moment from 'moment';
  import BaseArrowLinkExternal from "~/components/base/base-arrow-link-external";
  import BaseCardItem from "~/components/base/base-card-item";

  export default {
    name: "_id",
    components: {BaseCardItem, BaseArrowLinkExternal},
    async middleware({ store, route }) {
      await store.dispatch('blog/load_article', route.params.id);
      await store.dispatch('blog/load', 3);
      await store.dispatch('ingredients/get_footer_links');
    },
    data() {
      return {
        share_location: 'http://skincoda.pl/blog/'
      }
    },
    computed: {
      ...mapFields('blog', [
        'one_article',
        'posts'
      ]),
      created_at() {
        return moment(this.one_article.created_at).format('MMM D, YYYY');
      },
      share() {

        return this.share_location += this.one_article.slug
      }
    },
  }
</script>

<style lang="scss">
.v-article {

  padding-top: rem(76);

  &__title, &__subtitle {
    text-align: center;
  }

  &__title {
    @extend %h1-title;
    color: $black;

    max-width: rem(858);
    margin: 0 auto;
  }

  &__subtitle {
    @extend %text-regular-16;
    color: $black;

    margin: rem(50) auto rem(88);
    max-width: rem(677);
  }

  &__cover {
    width: 100%;
  }

  &__wrap {
    display: grid;
    grid-template-columns: rem(687) 1fr;
    grid-gap: rem(103);

    margin-top: rem(58);

    @include for-width(-laptop) {
      display: block;
      margin-bottom: rem(50);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: rem(53);
    @include for-width(-tablet) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__user {
    display: flex;
    align-items: center;

    &-full {
      display: flex;
      align-items: flex-start;
      .v-article__user-photo {
        width: rem(70);
        height: rem(70);
      }

      &-content {
        @extend %regular;
        @include font_sizes(16, 26);

        color: #0C0C0C;

        b {
          @extend %bold;
          letter-spacing: 0.05em;
          @extend %ttu;
        }
      }
    }

    &-photo {
      position: relative;
      width: rem(57);
      height: rem(57);

      border-radius: 50%;

      overflow: hidden;

      margin-right: rem(16);

      img {
        position: absolute;

        width: auto;

        top: 0;
        left: 50%;

        transform: translateX(-50%);
      }
    }

    &-name {
      @extend %bold;
      @extend %ttu;
      @include font_sizes(16, 19);
      letter-spacing: 0.05em;
      color: #000;

      margin-bottom: rem(8);
    }

    &-created {
      @extend %regular;
      @include font_sizes(16, 19);

      color: #000;
    }
  }

  &__share {
    display: flex;

    width: rem(140);
    height: rem(44);

    background-color: $white;

    border: 1px solid #EAEAEA;
    border-radius: rem(4);

    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);

    @include for-width(-laptop) {
      margin-top: rem(20);
    }

    &_full {
      width: 100%;
      height: rem(64);

      margin-bottom: rem(22);

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
          display: block;
          margin-top: rem(15);
          @include font_sizes(12, 15);
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 50%;
      height: 100%;

      &:first-child {
        border-right: rem(1) solid $gray_lighter;
      }

      &_full {
        @extend %medium;
        @include font_sizes(16, 26);
        color: #000;
        div {
          display: flex;
          align-items: center;
        }

        svg {
          margin-right: rem(16);
        }
      }
    }
  }

  &__content {
    margin-bottom: rem(50);
    p, ul li, ol li {
      @extend %regular;
      @include font_sizes(20, 34);
      color: #000;

      margin-bottom: rem(30);
    }

    h2, h3 {
      @extend %h2-title;
      color: #000;
      margin-bottom: rem(10);
    }

    img {
      width: 100%;
    }

    h3 {
      @extend %h3-title;
    }

    ul,ol {
      padding-left: rem(19);
      li {
        margin-bottom: rem(15);
        display: list-item;
        list-style: disc;
      }
    }

    ol li {
      list-style: decimal;
    }

    a {
      color: $orange;
      &:hover {
        color: $estimate_good;
      }
    }

    strong, b {
      @extend %bold;
    }

    blockquote {
      padding: rem(33);

      margin-bottom: rem(30);

      background-color: $green_light;
      p {
        margin-bottom: 0;
      }
    }

  }

  &__prod-title {
    @extend %h3-title;
    color: $black;
    text-align: center;

    max-width: rem(400);
    margin: 0 auto rem(49);

    @include for-width(-laptop) {
      max-width: 100%;
      margin-bottom: rem(49);

      text-align: left;
    }
  }

  &__products {

    &-item {
      display: flex;

      height: rem(144);

      margin-bottom: rem(56);
    }

    &-photo {
      width: rem(175);
      max-height: rem(144);
      border-radius: 10px 10px 0px 0px;
      overflow: hidden;

      @include for-width(-laptop) {
        width: rem(100);
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      max-width: rem(229);
      height: 100%;
    }

    &-title {
      @extend %text-title-24;
      color: $black;

      margin-bottom: rem(18);
    }

    &-text {
      @extend %text-regular-16;
      color: $gray;
      margin-bottom: rem(8);
    }
  }

  &__tags {

    display: flex;
    flex-wrap: wrap;

    &-wrap {
      display: flex;
      align-items: center;

      padding-bottom: rem(24);
      margin-bottom: rem(36);

      border-bottom: rem(1) dashed #000;
    }

    &-item {
      margin-right: rem(10);
      margin-bottom: rem(10);
    }

    &-text {
      margin-right: rem(10);
      margin-bottom: rem(10);
    }

    &-text, &-link {
      @extend %medium;
      color: #000;
    }

    &-link {
      text-decoration: underline;
    }
  }

  &__posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(30);

    @include for-width(-laptop) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &-title {
      @extend %h2-title;
      color: $black;

      margin-top: rem(150);
      margin-bottom: rem(65);

      text-align: center;
    }
  }

}
</style>
