<template>
  <div class="v-blog">
    <div class="container -blog">
      <div class="v-blog__latest">
        <figure class="v-blog__latest-cover">
          <img :src="latest.cover" :alt="latest.title">
        </figure>
        <div class="v-blog__latest-content">
          <h1 class="v-blog__latest-title">{{ latest.title }}</h1>
          <p class="v-blog__latest-text">{{ latest.subtitle }}</p>
        </div>
      </div>
      <base-content-block class="v-blog__cat-sect" title="Kategorie">
        <ul class="v-blog__categories">
          <li class="v-blog__categories-item"
              v-for="cat in categories"
              :key="cat.id">
            <base-category-btn is_blog_category
                               :to="cat.id">
              <span>{{ cat.name }}</span>
            </base-category-btn>
          </li>
        </ul>
      </base-content-block>
    </div>
    <div class="container">
      <div class="v-blog__items">
        <base-card-item v-for="post in posts"
                        :key="post.id"
                        :cover_image="post.cover"
                        :description="post.subtitle"
                        :link_path="`/blog/${post.slug}`"
                        :title="post.title"/>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseCategoryBtn from "~/components/base/base-category-btn";
  import BaseCardItem from "~/components/base/base-card-item";
  import { mapFields } from 'vuex-map-fields';
  import BaseContentBlock from "~/components/base/base-content-block";
  export default {
    name: "index",
    components: {BaseContentBlock, BaseCardItem, BaseCategoryBtn},
    async middleware({ store }) {
      await store.dispatch('blog/first_load');
      await store.dispatch('ingredients/get_footer_links');
    },
    computed: {
      ...mapFields('blog', [
        'posts',
        'categories'
      ]),
      latest() {
        return this.posts[0]
      }
    },
  }
</script>

<style lang="scss">
.v-blog {
  padding-top: rem(80);

  &__latest {

    &-cover {
      width: 100%;
      height: rem(553);
    }

    &-title {
      @extend %h2-title;
      color: $black;

      margin: rem(44) 0;
    }

    &-text {
      @extend %text-regular-16;
      color: $black;
    }
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-bottom: rem(20);
      margin-right: rem(20);
    }

    /*&-item { / /*/
  }

  &__cat-sect {
    margin: rem(43) 0 rem(59);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(30);

    @include for-width(-laptop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
</style>
