<template>
  <main>
    <front-header/>
    <front-what-is/>
    <front-we-love :ingredients="favorite_ingredients"/>
    <front-blog-posts v-if="blog_posts.length > 0" :blog_posts="blog_posts"/>
  </main>
</template>

<script>
import FrontHeader from "~/components/front/front-header";
import FrontWhatIs from "~/components/front/front-what-is";
import FrontWeLove from "~/components/front/front-we-love";
import FrontBlogPosts from "~/components/front/front-blog-posts";

import objectValue from '~/utils/objectValue'
import { mapState } from 'vuex';

export default {
  components: {FrontBlogPosts, FrontWeLove, FrontWhatIs, FrontHeader},
  async middleware({ store }) {
    await store.dispatch('blog/load', 3);
    await store.dispatch('ingredients/get_favorites_ingredients');
    await store.dispatch('ingredients/get_footer_links');
  },
  computed: {
    ...mapState('blog', {
      blog_posts: state => objectValue(state, 'posts', [])
    }),
    ...mapState('ingredients', {
      favorite_ingredients: state => objectValue(state, 'favorite_ingredients', [])
    })
  },
}
</script>

<style lang="scss">
</style>
