<template>
  <div class="v-blog">
    <div class="container -blog">
      <h1 class="v-blog__latest-title">{{ one_category }}</h1>
    </div>
    <div class="container">
      <div class="v-blog__items">
        <base-card-item v-for="post in posts"
                        :key="post.id"
                        :cover_image="post.cover"
                        :description="post.subtitle"
                        :link_path="`/blog/${post.slug}`"
                        :title="post.title"/>
      </div>
    </div>
  </div>
</template>

<script>
  import BaseCategoryBtn from "~/components/base/base-category-btn";
  import BaseCardItem from "~/components/base/base-card-item";
  import { mapFields } from 'vuex-map-fields';
  import BaseContentBlock from "~/components/base/base-content-block";
  export default {
    name: "_id",
    components: {BaseContentBlock, BaseCardItem, BaseCategoryBtn},
    async middleware({ store, route }) {
      await store.dispatch('blog/load_by_category', route.params.id);
      await store.dispatch('ingredients/get_footer_links');
    },
    computed: {
      ...mapFields('blog', [
        'posts',
        'one_category'
      ]),
    },
  }
</script>

<style lang="scss">
  .v-blog {
    padding-top: rem(80);

    &__latest {

      &-cover {
        width: 100%;
        height: rem(553);

        @include for-width(-tablet-md) {
          height: auto;
        }
      }

      &-title {
        @extend %h2-title;
        color: $black;

        margin: rem(44) 0;

        text-align: center;

        text-transform: capitalize;
      }

      &-text {
        @extend %text-regular-16;
        color: $black;
      }
    }

    &__categories {
      display: flex;
      flex-wrap: wrap;

      &-item {
        margin-bottom: rem(20);
        margin-right: rem(20);
      }

      /*&-item { / /*/
    }

    &__cat-sect {
      margin: rem(43) 0 rem(59);
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: rem(30);

      @include for-width(-laptop) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include for-width(-tablet-md) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
</style>
