<template>
  <main>
    <ingredients-header v-model="search_query"/>
    <ingredients-category-result v-if="ingredients.length > 0 && search_results.length === 0"
                                 :ingredients="ingredients"
                                 :category_id="+$route.params.id"
                                 :categories="categories"/>
    <ingredients-search-result v-if="search_query.length > 0"
                               :query="search_query"
                               :search_results="search_results"/>
  </main>
</template>

<script>
  import {mapFields} from "vuex-map-fields";
  import IngredientsHeader from "~/components/ingredients/ingredients-header";
  import IngredientsCategoryResult from "~/components/ingredients/ingredients-category-result";
  import search_ingredients from "~/mixins/search_ingredients";
  import IngredientsSearchResult from "~/components/ingredients/ingredients-search-result";

  export default {
    name: "_id",
    components: {IngredientsSearchResult, IngredientsCategoryResult, IngredientsHeader},
    mixins: [search_ingredients],
    async middleware({ store, route }) {
      const is_cat_empty = await store.getters['ingredients/getField']('categories').length === 0;
      if(is_cat_empty) await store.dispatch('ingredients/get_categories');
      await store.dispatch('ingredients/load_products_by_category', route.params.id);
      await store.dispatch('ingredients/get_footer_links');

    },
    computed: {
      ...mapFields('ingredients', [
        'ingredients',
        'categories'
      ]),
    },
  }
</script>

<style lang="scss" scoped>

</style>
