<template>
  <section class="v-ingredient-page">
    <base-content-block class="v-ingredient__head-wrap -center-mode">
      <div class="v-ingredient__head">
        <div class="v-ingredient__head-ewg">
          <base-quality-icon is_large :number="ingredient.ewg"/>
        </div>
        <a href="#" class="v-ingredient__head-link">
          <span>co oznacza EWG?</span>
        </a>
        <h1 class="v-ingredient__head-title">
          {{ ingredient.name }}
        </h1>
        <p class="v-ingredient__head-change-request">
          <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.586 16L9 19.414L12.414 16H16C17.103 16 18 15.103 18 14V2C18 0.897 17.103 0 16 0H2C0.897 0 0 0.897 0 2V14C0 15.103 0.897 16 2 16H5.586ZM2 2H16V14H11.586L9 16.586L6.414 14H2V2Z" fill="#62697D"/>
            <path d="M9.47895 5.21899L4.50195 10.188V11.987H6.30195L11.277 7.01799L9.47895 5.21899Z" fill="#62697D"/>
            <path d="M11.6981 2.99902L13.4981 4.79902L12.1281 6.16902L10.3281 4.37002L11.6981 2.99902Z" fill="#62697D"/>
          </svg>
          <span>zgłoś zmiany</span>
        </p>
      </div>
    </base-content-block>
    <base-content-block class="v-ingredient__quality-wrap -big-padding">
      <ul class="v-ingredient__quality">
        <li class="v-ingredient__quality-item">
          <base-quality-icon hide_text class="v-ingredient__quality-item-icon" :number="ingredient.ewg"/>
          <h4 class="v-ingredient__quality-item-title">
            EWG
          </h4>
          <p class="v-ingredient__quality-item-comment">
            {{ ewg_result }}
          </p>
        </li>
        <li class="v-ingredient__quality-item" v-if="ingredient.dry_skin">
          <base-skin-icon class="v-ingredient__quality-item-icon" icon_name="dry" :quality="ingredient.dry_skin"/>
          <h4 class="v-ingredient__quality-item-title">
            Skóra sucha
          </h4>
          <p class="v-ingredient__quality-item-comment">
            {{ ingredient.dry_skin | result_str }}
          </p>
        </li>
        <li class="v-ingredient__quality-item" v-if="ingredient.sensitive_skin">
          <base-skin-icon class="v-ingredient__quality-item-icon" icon_name="sensitive" :quality="ingredient.sensitive_skin"/>
          <h4 class="v-ingredient__quality-item-title">
            Skóra wrażliwa
          </h4>
          <p class="v-ingredient__quality-item-comment">
            {{ ingredient.sensitive_skin | result_str }}
          </p>
        </li>
        <li class="v-ingredient__quality-item" v-if="ingredient.oily_skin">
          <base-skin-icon class="v-ingredient__quality-item-icon" icon_name="oily" :quality="ingredient.oily_skin"/>
          <h4 class="v-ingredient__quality-item-title">
            Skóra tłusta
          </h4>
          <p class="v-ingredient__quality-item-comment">
            {{ ingredient.oily_skin | result_str }}
          </p>
        </li>
        <li class="v-ingredient__quality-item" v-if="ingredient.mature_skin">
          <base-skin-icon class="v-ingredient__quality-item-icon" icon_name="mature" :quality="ingredient.mature_skin"/>
          <h4 class="v-ingredient__quality-item-title">
            Skóra dojrzała
          </h4>
          <p class="v-ingredient__quality-item-comment">
            {{ ingredient.mature_skin | result_str }}
          </p>
        </li>
        <li class="v-ingredient__quality-item">
          <base-line-icon class="v-ingredient__quality-item-icon" :quality="ingredient.recommendation"/>
          <h4 class="v-ingredient__quality-item-title">
            Ocena Skincodę
          </h4>
          <p class="v-ingredient__quality-item-comment">
            {{ ingredient.recommendation | result_quality_str }}!
          </p>
        </li>
      </ul>
    </base-content-block>
    <template v-if="ingredient.categories.length > 0">
      <base-content-block title="Kategorie" class="v-ingredient__categories-wrap">
        <div class="v-ingredient__categories">
          <ul class="v-ingredient__categories-list">
            <li v-for="cat in ingredient.categories" class="v-ingredient__categories-list-item">
              <base-category-btn :to="cat.id" :key="cat.id">
                <span>{{ cat.name }}</span>
              </base-category-btn>
            </li>
          </ul>
        </div>
      </base-content-block>
    </template>
    <template v-if="ingredient.occurence.length > 0">
      <base-content-block title="Występowanie" class="v-ingredient__text-content">
        <p class="v-ingredient__text-content" v-html="ingredient.occurence"></p>
      </base-content-block>
    </template>
    <template v-if="ingredient.effects_description.length > 0">
      <base-content-block title="Opis" class="v-ingredient__text-content">
        <p class="v-ingredient__text-content" v-html="ingredient.effects_description"></p>
      </base-content-block>
    </template>
    <template v-if="ingredient.science_description.length > 0">
      <base-content-block title="Od strony naukowej" class="v-ingredient__text-content-wrap">
        <p class="v-ingredient__text-content" v-html="ingredient.science_description"></p>
      </base-content-block>
    </template>
    <base-content-block class="v-ingredient__comments-wrap">
        <div class="v-ingredient__comments">
          <div class="v-ingredient__comments-head">
            <h3 class="v-ingredient__comments-title">
              Masz wiedzę i opinię na temat tego składnika? Zostaw komentarz, który opublikujemy po jego weryfikacji.
            </h3>
            <base-button @click="$store.dispatch('overlay/set_overlay_field', 'OverlayCommentForm')" class="v-ingredient__comments-add-comment" is_red>
              <span>Dodaj komentarz Ekspercki</span>
            </base-button>
          </div>
          <hr class="v-ingredient__comments-hr -hr-line">
          <template v-if="ingredient.comments.length > 0">
            <h3 class="v-ingredient__comments-subtitle">Co mówią ekspertki i eksperci?</h3>
            <template v-for="comment in ingredient.comments">
              <comment-main :key="comment.id"
                            v-if="comment.approved"
                            :user_name="comment.name"
                            :user_profession="comment.profession"
                            :user_photo="comment.photo"
                            :comment_rating="comment.rating"
                            :comment_text="comment.text"/>
            </template>
          </template>
        </div>
      </base-content-block>
  </section>
</template>

<script>
  import BaseContentBlock from "~/components/base/base-content-block";
  import { mapFields } from 'vuex-map-fields';
  import { mapMutations } from 'vuex';
  import BaseQualityIcon from "~/components/base/base-quality-icon";
  import BaseSkinIcon from "~/components/base/base-skin-icon";
  import BaseLineIcon from "~/components/base/base-line-icon";
  import BaseCategoryBtn from "~/components/base/base-category-btn";
  import BaseButton from "~/components/base/base-button";
  import CommentMain from "~/components/comment/comment-main";


  export default {
    name: "_slug",
    components: {CommentMain, BaseButton, BaseCategoryBtn, BaseLineIcon, BaseSkinIcon, BaseQualityIcon, BaseContentBlock},
    layout: 'site-bar-layout',
    async middleware({ store, route, error }) {
      const slug = route.params.slug;
      const result = await store.dispatch('ingredients/load_one_ingredient', slug)
      // console.log(result)
      if (result === 404) error({ statusCode: 404 });
      await store.dispatch('ingredients/get_footer_links');
    },
    computed: {
      ewg_result() {
        let num = this.ingredient.ewg;
        if(isNaN(+this.ingredient.ewg)) {
          if(this.ingredient.ewg.includes('-')) {
            num = this.ingredient.ewg.split('-')[1];
          }
        }

        return +num > 0 && +num <= 2 ? 'Nardzo dobry wynik' :
               +num >= 3 && +num <= 6 ? 'Neutralny' : 'Bardzo zły wynik';
      },
      ...mapFields('ingredients', [
        'ingredient'
      ]),
      ...mapFields('overlay', [
        'overlay_field'
      ])
    },
    head() {
      return {
          bodyAttrs: {
            class: this.overlay_field ? 'overlay' : ''
          }
        }
    },
    filters: {
      result_str(value) {
        return value === 'good' ? 'Dobry' :
               value === 'neutral' ? 'Neutralny' : 'Zły';
      },
      result_quality_str(value) {
        return value === 'love' ? 'Dobry' :
               value === 'none' ? 'Neutralny' : 'Zły';
      },
    },
    methods: {
      ...mapMutations('ingredients', [
        'clean_ingredient'
      ])
    },
    destroyed() {
      if(this.$route.name !== 'ingredient-slug') this.clean_ingredient();
    }
  }
</script>

<style lang="scss">
.v-ingredient {

  &-page {
    @include for-width(-tablet) {
      grid-area: content;
    }
    /*max-width: rem(892);*/
  }

  &__head {

    &-wrap {
      height: rem(348);
    }

    &-ewg {
      display: flex;
      justify-content: center;
    }

    &-link,
    &-title {
      display: block;

      width: 100%;

      text-align: center;
    }

    &-link {
      @extend %semi-small-text;
      color: $gray;
      text-decoration: underline;

      margin: rem(10) 0 rem(20);
    }

    &-title {
      @extend %h3-title;
      color: $black;

      margin-bottom: rem(20);
    }

    &-change-request {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;

      @extend %semi-small-text;
      color: $gray;

      svg {
        margin-right: rem(8);
      }

      span {
        display: inline-block;
        margin-top: rem(-4);
      }
    }
  }

  &__quality {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-width(-tablet) {
      flex-wrap: wrap;
    }
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include for-width(-tablet) {
        width: rem(100);
        margin-bottom: rem(10);
      }
      &-icon {
        margin: 0 auto;
      }

      &-title,
      &-comment {
        text-align: center;
      }

      &-title {
        @extend %text-bold-14;
        color: $black;

        margin: rem(16) 0 rem(4);
      }

      &-comment {
        @extend %text-medium-14;
        color: $gray;
      }

    }
  }

  &__categories {
    &-list {
      display: flex;
      flex-wrap: wrap;

      &-item {
        margin-bottom: rem(20);
        margin-right: rem(20);
      }
    }
  }

  &__text-content {
    @extend %text-regular-16;
    color: $gray;
  }

  &__comments {
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include for-width(-tablet) {
        flex-direction: column;
      }
    }

    &-title {
      @extend %text-bold;
      color: $black;
      max-width: rem(465);

      @include for-width(-tablet) {
        margin-bottom: rem(20);
      }
    }

    &-add-comment {
      @include for-width(-tablet) {
        width: 100%;
      }
      .c-button {
        width: rem(317);
        max-width: 100%;
        @include for-width(-tablet) {
          width: 100%;
        }
      }
    }

    &-subtitle {
      @extend %text-title-24;
      color: $black;

      margin-top: rem(40);

      margin-bottom: rem(10);
    }
  }
}
</style>
